body{
	height: 4000px;
	margin: 0;
	padding: 0;
	background-position: top center;
}

body.fisherman{
	background-image: url(fisherman/background.jpg);
}

body.fisherman #character{
/*	fisherman, farmer, tourist
	displays story character in center of screen
	stays fixed while scrolling	*/
	position: fixed;
	top: 20%;
	width: 100%;
	height: 346px;
	display: block;
	background-image: url(fisherman/character.png);
	background-repeat: no-repeat;
	background-position: center center;

}