body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font: 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

body.fisherman #character{
/*	fisherman, farmer, tourist
	displays story character in center of screen
	stays fixed while scrolling	*/
	position: fixed;
	top: 20%;
	width: 100%;
	height: 346px;
	display: block;
	background-image: url(../resources/fisherman/character.png);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 100;
}

body.fisherman #setting{
	background-image: url(../resources/fisherman/background.jpg);
	width: 100%;
	overflow: auto;
	background-position: top center;
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
	transition: top 2s;
	-webkit-transition: top 3s;
	-webkit-transition-timing-function: ease-in-out;
}

.screen{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.question, .choices .choice, .response, .continue a{
	background-color: white;
	border: 1px solid #E2E2E2;
	border-radius: 1em;
	padding: .5em;
	margin: 0 auto;
}

.question, .response, .continue a{
	display: table;
}


.choices .choice{
	display: table-cell;
}

.question{
	position: relative;
	width: 30em;
	top: 5%;
}

.choices, .continue{
	position: absolute;
	bottom: 5%;
}

.continue{
	width: 100%;
}

.choices{
	float: none;
	clear: both;
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	left: 25%;
}

.response{
	display: none;
	width: 30em;
	margin: 5% auto;
	position: relative;
	position: relative;
	z-index: 200;
}

.continue{
	display: none;
}

/*fisherman control styling*/
#control{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#line{
	background-image: url('../resources/fisherman/line.svg');
	width: 14px;
	height: 266px;
	display: none;
	position: absolute;
	left: 200px;
	bottom: 50px;
	-webkit-transition: -webkit-transform 1s;
	-webkit-transform-origin: 0 0;
}

#line.answer-1{
	-webkit-transform: rotate(-40deg) scale(1.1);
}

#line.answer-2{
	-webkit-transform: rotate(-60deg) scale(1.8);
}

#line.answer-3{
	-webkit-transform: rotate(-70deg) scale(2.5);
}


.fisherman #arrow{
	background-image: url('../resources/fisherman/arrow.png');
	background-repeat: no-repeat;
	position: absolute;
	bottom: 50px;	
	width: 100px;
	height: 38px;
	display: block;
	-webkit-transform-origin: 0 50%;
	-webkit-animation: swing 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	z-index: 400;
}

.fisherman #arrow.stop{
	-webkit-animation-play-state: paused;
}

@-webkit-keyframes swing{
/*	TODO: figure the exact angles to fit in the 25% --- 100% range*/
	0%{ -webkit-transform: rotate(-52deg); }
	100%{ -webkit-transform: rotate(-15deg); }
}

#trajectory{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 50px;
	margin-bottom: 19px;
	left: 0;
	z-index: 50;
}
