.farmer{
	#animation_3_a, #animation_3_b, #animation_3_c, #animation_3_d{
		$photos: '#{$url}/farmer/3-a-let-pigeons-eat';
	
		*:not(.clock){
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1000;
			background-position: bottom center;
			position: absolute;
			top: 0%;
			left: 0%;
		}
	
		.grass{
			background-image: url(#{$photos}/grass.png);
			background-position: bottom left;
		}
		
		.bomb{
			background-image: url(#{$photos}/bomb.png);
			background-position: bottom left;
			display: none;
			
			&.show{
				display: block;
			}
		}
		
		.scarecrow{
			background-image: url(#{$photos}/scarecrow.png);
			background-position: bottom left;
			display: none;
			
			&.show{
				display: block;
			}
		}
		
		.tape{
			background-image: url(#{$photos}/tape.png);
			background-position: bottom left;
			-webkit-transition: opacity .5s;
			display: none;
			
			&.show{
				display: block;
			}
		}
		
		.poison-1{
			background-image: url(#{$photos}/poison-1.png);
			background-position: bottom left;
			display: none;
			
			&.show{
				display: block;
			}
		}
		
		.poison-2{
			background-image: url(#{$photos}/poison-2.png);
			background-position: bottom left;
			display: none;
			
			&.show{
				display: block;
			}
		}
		
		.rifle{
			background-image: url(#{$photos}/rifle.png);
			background-position: bottom right;
			left: 100%;
			-webkit-transition: left 1s;
			
			&.come{
				left: 0;
			}			
		}
		
		.gunpowder{
			background-image: url(#{$photos}/gunpowder.png);
			background-position: bottom right;
			display: none;
			
			&.appear{
				display: block;
			}			
		}
		
		.levada{
			background-image: url(#{$photos}/levada.png);
			
			&.future{
				background-image: url(#{$photos}/levada-future.png);
			}
		}
		
		.crap{
			background-image: url(#{$photos}/crap.png);
			background-position: bottom left;
			opacity: 0;
			top: -5%;
			-webkit-animation-name: opacity, top;
			-webkit-duration: .5s;
			z-index: 2000;
			
			&.come{
				opacity: 1;
				top: 0;
			}
		}
		
		.crap-tree{
			background-image: url(#{$photos}/crap-tree.png);
			background-position: bottom left;
			top: 100%;
			opacity: 0;
			-webkit-transition-name: opacity top;
			-webkit-transition-duration: 1s;
			z-index: 2000;
			
			&.grow{
				opacity: 1;
				top: 0;
			}
		}
	
		.pigeon{
			background-image: url(#{$photos}/pigeon.png);
			background-position: bottom left;
			left: -100%;
			-webkit-transition: left 2s;
			z-index: 2000;
			
			&.come{
				left: -30%;
			}
			
			&.move{
				left: 0;
			}
			
			&.leave{
				left: 100%;
			}
			
			&.dead{
				background-image: url(#{$photos}/pigeon-dead.png);
			}
		}
		
		.vegetables{
			background-image: url(#{$photos}/vegetables.png);
			
			&.future{
				background-image: url(#{$photos}/vegetables-future.png);
			}
		}
		
		.cloud-1{
			background-image: url(#{$photos}/cloud-1.png);
			z-index: 1500;
			-webkit-transition: left 2s;
			
			&.go{
				left: -100%;
			}
		}
		
		.cloud-2{
			background-image: url(#{$photos}/cloud-2.png);
			z-index: 1500;
			left: -100%;
			-webkit-transition: left 2s;
			
			&.come{
				left: 0;
			}
		}
		
		.forest{
			background-image: url(#{$photos}/forest.png);
			background-position: bottom left;
			
			&.future{
				background-image: url(#{$photos}/forest-future.png);
			}
		}
		
		.drop{
			background-image: url(#{$photos}/drop-1.png);
			display: none;
			
			&.appear{
				display: block;
			}
			
			&.second{
				background-image: url(#{$photos}/drop-2.png);
			}
			
			&.third{
				background-image: url(#{$photos}/drop-3.png);
			}
		}
	
	}
}