.farmer{
	#animation_5_a, #animation_5_b, #animation_5_c{
		$photos: '#{$url}/farmer/5-a-ashtray';
	
		*:not(.clock){
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1000;
			background-position: bottom center;
			position: absolute;
			top: 0%;
			left: 0%;
		}
		
		.speech-bubble, .cigarette-1, .cigarette-2{
			background-position: top center;
			-webkit-transition: top 2s;
			top: -100%;
			
			&.come{
				top: 0%;
			}
		}
		
		
		.speech-bubble{
			background-image: url(#{$photos}/speech-bubble.png);
		}
		
		.cigarette-1{
			background-image: url(#{$photos}/cigarette-1.png);
		}
		
		.cigarette-2{
			background-image: url(#{$photos}/cigarette-2.png);
		}
		
		.cigarette-3{
			background-image: url(#{$photos}/cigarette-3.png);
			background-position: bottom center;
			-webkit-transition: top 2s;
			top: 100%;
			
			&.come{
				top: 0%;
			}
		}
		
		.rock{
			background-image: url(#{$photos}/rock.png);
		}
		
		.contamination{
			background-image: url(#{$photos}/contamination.png);
			opacity: 0;
			-webkit-transition: opacity 1s;
			
			&.appear{
				opacity: 1;
			}
		}
		
		.fire{
			background-image: url(#{$photos}/fire.png);
			background-position: bottom left;
			top: 100%;
			-webkit-transition: top 2s;
			
			&.come{
				top: 0;
			}
		}
		
		.forest{
			background-image: url(#{$photos}/forest.png);
			background-position: bottom left;
			
			&.future{
				background-image: url(#{$photos}/forest-future.png);
			}
		}
		
		.vegetables{
			background-image: url(#{$photos}/vegetables.png);
		}
		
		
	
	}
}