
#animation_3_a{
	$photos: '#{$url}/fisherman/3-a-breeding-fish';
	
	.environment{
		width: 100%;
		height: 100%;
		background-size: 100%;
		background-position: bottom left;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		z-index: 100;
		background-image: url(#{$photos}/environment.png);
		
		&.future{
			background-image: url(#{$photos}/future.png);
		}
	}
	

}
