
#animation_5_a{
	$photos: '#{$url}/fisherman/5-a-seal-bomb';
	
	.fish{
		background-image: url(#{$photos}/fish.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1000;
		background-position: bottom left;
		position: absolute;
		top: 0%;
		left: 0%;
	}
	
	.monk-seal{
		background-image: url(#{$photos}/monk-seal.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1000;
		background-position: bottom left;
		position: absolute;
		top: 0%;
		left: 0%;
		
		&.scared{
			background-image: url(#{$photos}/monk-seal-scared.png);
		}
	}
	

}
