#animation_5_c{
	.monk-seal{
		left: -40%;
	}
}

#animation_5_b, #animation_5_c{
	$photos: '#{$url}/fisherman/5-b-seal-fish-elsewhere';
	
	.monk-seal{
		width: 100%;
		height: 100%;
		background-image: url(#{$photos}/monk-seal.png);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1000;
		background-position: bottom right;
		position: absolute;
	}
	
	.net{
		left: 0%;
		background-image: url(#{$photos}/net-1.png);
		width: 100%;
		height: 100%; 
		z-index: 500;
		background-repeat: no-repeat;
		
		&.throw{
			top: 0;
		}
		
		&.net-2{
			background-image: url(#{$photos}/net-2.png);
		}
		
		&.net-3{
			background-image: url(#{$photos}/net-3.png);
			background-size: contain;
			background-position: bottom left;
		}
	}
	
	.fish-group{
		width: 50%;
		height: 70%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 100;
		position: absolute;
		left: 10%;
		top: 40%;
		
		&.net-2{
			left: 4%;
			top: 30%;
		}
		
		&.net-3{
			top: 10%;
		}
		
		*{
			width: 10%;
			height: 10%;
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
		}
		
		.num1{
			background-image: url(#{$photos}/fish-1.png);
			top: 10%;
			left: 15%;
		}
		
		.num2{
			background-image: url(#{$photos}/fish-2.png);
			top: 0%;
			left: 25%;
		}
		
		.num3{
			background-image: url(#{$photos}/fish-3.png);
			top: 10%;
			left: 25%;
		}
		
		.num4{
			background-image: url(#{$photos}/fish-4.png);
			top: 0%;
			left: 15%;			
		}
	}
	
	

}
