
#animation_6_a{
	$photos: '#{$url}/fisherman/6-a-fish-non-profitable';
	
	.fish-non-profitable{
		background-image: url(#{$photos}/fish-non-profitable.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1000;
		background-position: bottom left;
		position: absolute;
		bottom: 0;
		left: 0;
		
		&.future{
			background-image: url(#{$photos}/fish-non-profitable-2.png);
		}
	}

	.fish-profitable{
		background-image: url(#{$photos}/fish-profitable.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1000;
		background-position: bottom right;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	
	.money{
		background-image: url(#{$photos}/money.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1000;
		background-position: bottom center;
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;
		
		&.show{
			display: block;
		}
		
		&.less{
			background-image: url(#{$photos}/money-2.png);
		}
		
		&.and-less{
			background-image: url(#{$photos}/money-3.png);
		}
	}

}
