---
title: Farmer
bodyClass: farmer
---

#character
#score{'data-bind'=>'text: score'}
#consequence
	.content
#continue_journey_button
#throw_button
#control.come
	.arrow.swing.first
	%svg.trajectory{:xmlns=>'http://www.w3.org/2000/svg', 'xmlns:xlink'=>'http://www.w3.org/1999/xlink'}
		/ the initial velocity vector
		%line{:x1=>'0', :y1=>'480', 'data-bind'=>'attr: {y2:(480-4*vy()),x2:4*vx()}'}

		/ the trails of the trajectory motion
		/ ko foreach:trails
		%circle{:r=>'4', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x+'%',cy:(100-y)+'%'}"}
		/ /ko

		/ the simulation object
		%circle{:r=>'8', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x()+'%',cy:(100-y())+'%'}"}


#setting
	/ .screen
	/ 	.question O António é agricultor e tem um terreno encostado à floresta Laurissilva. No início do dia, o António vai a para o seu terreno e repara que a levada tem lixo. Ele deve...
	/ 	.choices.come
	/ 		.choice{:score=>-10}
	/ 			.title Deixa assim, quem usa a água primeiro que limpe
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_1_a
	/ 					.levada
	/ 					.trash
	/ 					.tree
	/ 					.vegetables
	/ 					.clock
	/ 				.content
	/ 					%p A água é um recurso muito valioso para a agricultura, por isso é importante que as pessoas a utilizem de forma responsável.
	/ 					%p Se deixar o lixo na levada, a água vai ficar contaminada e vai desperdiçar parte da água. Vai receber menos água para a rega e água de má qualidade, o que vai afetar a qualidade da sua colheita.
	/ 					%p Perde 10 pontos
	/ 		.choice{:score=>10}
	/ 			.title Limpa a levada
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_1_b
	/ 					.levada.future
	/ 					.tree
	/ 					.vegetables
	/ 				.content
	/ 					%p A água é um recurso valioso. É da responsabilidade de todos garantir que a água não é desperdiçada ou contaminada. Ao tirar o lixo e o mato da levada está a impedir que a água fique suja e seja desperdiçada. Vai ter água de boa qualidade e em quantidade para ter uma boa colheita. 
	/ 					%p Ganha 10 pontos
	/ 		.choice{:score=>-10}
	/ 			.title Deixa assim, quem deitou o lixo que limpe
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_1_c
	/ 					.levada
	/ 					.trash
	/ 					.tree
	/ 					.vegetables
	/ 					.clock
	/ 				.content
	/ 					%p É da responsabilidade de todos garantir que a água não é desperdiçada ou contaminada. Apesar do lixo não ser seu, se não tirar o lixo da levada, a água vai ficar contaminada e vai desperdiçar parte da água.
	/ 					%p Vai receber menos água para a rega e água de má qualidade, o que vai afetar a qualidade da sua colheita.
	/ 					%p Perde 10 pontos
	/ .screen
	/ 	.question Entre o terreno e a floresta ele vê uma planta de maracujá banana a crescer. O que faz o António?
	/ 	.choices
	/ 		.choice{:score=>-10}
	/ 			.title Deixar a planta a crescer para depois poder comer os maracujás.
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_2_a
	/ 					.trees
	/ 					.vegetables
	/ 					.maracuja
	/ 					.maracuja-later-1
	/ 					.maracuja-later-2
	/ 				.content
	/ 					%p O maracujá banana é uma planta invasora, ou seja, ao crescer consegue eliminar outras plantas, ocupando todo o espaço.
	/ 					%p Esta planta trepadeira cresce sobre as plantas da floresta natural da Madeira, tapando-as totalmente e matando-as. 
	/ 					%p Se não fizer nada, está a ajudar a planta invasora a crescer, o que vai levar à diminuição da floresta Laurissilva.
	/ 					%p Perde 10 pontos
	/ 		.choice{:score=>-5}
	/ 			.title Arrancar e levar para plantar perto de casa
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_2_b
	/ 					.trees
	/ 					.vegetables
	/ 					.maracuja
	/ 					.bubble
	/ 				.content
	/ 					%p O maracujá banana não é uma planta natural da ilha da Madeira e tem carácter invasor. Esta planta cresce e multiplica-se rapidamente, matando as plantas à volta e ocupando todo o espaço. Se plantar espécies invasoras (como o maracujá banana, a acácia ou a bananilha) junto da sua casa ou no seu terreno tem de estar atento ao seu crescimento para evitar que cresça em cima de outras plantas e elas morram. O melhor é escolher outro tipo de maracujá para plantar.
	/ 					%p Perde 5 pontos						
	/ 		.choice{:score=>-15}
	/ 			.title Come e deita a casca no chão
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_2_c
	/ 					.trees
	/ 					.vegetables
	/ 					.rat-1
	/ 					.rat-2
	/ 					.peel
	/ 					.maracuja-later-c
	/ 				.content
	/ 					%p O maracujá banana é uma planta invasora. As plantas invasoras crescem muito rapidamente. Um fruto tem 30 a 200 sementes. Ao deitar as cascas no chão elas podem ter sementes e dar origem a novas plantas que vão danificar as plantas que estam nesse local.
	/ 					%p Ao deitar restos de comida no chão está também a atrair ratos que vão comer o que plantou e vão espalhar doenças no seu terreno
	/ 					%p Perde 15 pontos
	/ 		.choice{:score=>10}
	/ 			.title Arranca a planta
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_2_d
	/ 					.vegetables
	/ 					.trees
	/ 				.content
	/ 					%p Existem muitas plantas invasoras na Madeira, como a acácia, a bananilha e outras que crescem rapidamente e matam as plantas à volta. É necessário destruí-las para que elas não ocupem todo o espaço e destruam a floresta Laurissilva. As plantas invasoras são muito resistentes e não é fácil destruí-las. Cada planta tem de ser destruída de forma específica, se precisar de ajuda para conhecer e saber como eliminar as plantas invasoras contacte o Serviço do Parque Natural. 
	/ 					%p Ganha 10 pontos.						
	/ .screen
	/ 	.question O António vê um Pombo-trocaz a comer a sua colheita. O que faz?
	/ 	.choices
	/ 		.choice{:score=>15}
	/ 			.title Deixa o Pombo-trocaz comer a plantação
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_3_a
	/ 					.grass
	/ 					.levada
	/ 					.crap
	/ 					.crap-tree
	/ 					.pigeon
	/ 					.vegetables
	/ 					.cloud-1
	/ 					.cloud-2
	/ 					.forest
	/ 					.drop
	/ 				.content
	/ 					%p O Pombo-trocaz é um dos animais mais importantes da floresta Laurissilva.
	/ 					%p O pombo come sementes da floresta, e ajuda na renovação da floresta, aumentando o número de plantas da floresta Laurissilva. Esta floresta é importante porque as suas plantas absorvem água do nevoeiro, essa água é depois encaminhada para as levadas para ser usada na agricultura.
	/ 					%p Ao deixar o pombo viver está a ajudar a floresta Laurissilva a crescer.
	/ 					%p Ganha 15 pontos
	/ 		.choice{:score=>-20}
	/ 			.title Mata o Pombo-trocaz
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_3_b
	/ 					.grass
	/ 					.levada
	/ 					.pigeon
	/ 					.vegetables
	/ 					.forest
	/ 					.rifle
	/ 					.gunpowder
	/ 				.content
	/ 					%p O pombo é importante para a renovação da floresta Laurissilva porque ele come as sementes da floresta e ajuda a espalhar as sementes. A floresta Laurissilva é importante porque as suas plantas absorvem água do nevoeiro, essa água é depois encaminhada para as levadas para ser usada na agricultura. Se matar o pombo, a floresta não vai crescer e vai ter menos água, logo a sua colheita vai ter menos qualidade.
	/ 					%p O pombo é um animal em extinção e deve ser protegido.
	/ 					%p Perde 20 pontos
	/ 		.choice{:score=>20}
	/ 			.title Afugenta o pombo trocaz
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_3_c
	/ 					.grass
	/ 					.levada
	/ 					.pigeon
	/ 					.vegetables
	/ 					.forest
	/ 					.bomb
	/ 					.scarecrow
	/ 					.tape
	/ 				.content
	/ 					%p Existem vários métodos para afugentar o pombo e manter o pombo longe do seu terreno. Pode utilizar “espanta pássaros” sonoros que emitem o som de um disparo de vez em quando. Pode utilizar redes que cobrem as plantações, fitas refletoras ou espantalhos. Mas como os animais se habituam, é importante que varie as soluções e o local onde as coloca no seu terreno.
	/ 					%p O Serviço do Parque Natural pode ajudá-lo a escolher a melhor solução.
	/ 					%p Ganha 20 pontos
	/ 		.choice{:score=>-15}
	/ 			.title Deita veneno nas plantas para matar os Pombos que as comerem
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_3_d
	/ 					.grass
	/ 					.levada
	/ 					.pigeon
	/ 					.vegetables
	/ 					.forest
	/ 					.poison-1
	/ 					.poison-2
	/ 				.content
	/ 					%p Veneno é um produto muito perigoso para usar na agricultura. O veneno não vai só matar o pombo mas vai matar também outros animais da floresta e até animais domésticos, como cães e gatos, e vai contaminar a água e a sua colheita. Por isso vai ter colheita de má qualidade e que não pode ser vendida.
	/ 					%p Perde 15 pontos
	.screen
		.question O António encontra algumas lagartas na sua plantação. Algumas até já estão bem grandes. Como resolve o problema?
		.choices.come
			.choice{:score=>-15}
				.title Usar pesticidas químicos aumentando as quantidades e concentrações recomendadas
				.consequence.underwater
					.screen.underwater#animation_4_a
						.caterpillars-left
						.caterpillars-right
						.levada
						.poison
						.tree
						.vegetables						
					.content
						%p Lá porque as lagartas são grandes não vai usar mais pesticida do que o indicado. Os pesticidas não matam só as pragas mas contaminam a colheita e a água. Se usar pesticidas sem respeitar as instruções o seu terreno vai ficar contaminado e não vai poder vender a sua colheita. Além disso o excesso de pesticida vai ser arrastado pela água da chuva e pelo vento e vai contaminar os terrenos à volta.
						%p Perde 15 pontos						
			.choice{:score=>15}
				.title Usa outras plantas e animais para controlar as pragas.
				.consequence.underwater
					.screen.underwater#animation_4_b
						.caterpillars-left
						.caterpillars-right
						.birds-left
						.birds-right
						.levada
						.tree
						.vegetables
					.content
						%p Existem animais que comem algumas pragas e podem ajudá-lo. Um casal de aves e suas crias podem consumir até 1000 insectos; a joaninha come até 60 pulgões por dia e os morcegos comem até 3000 borboletas por noite... Se tiver arbustos perto do terreno, as aves vão fazer ninhos e vão ajudá-lo a livrar-se das lagartas!
						%p Ganha 15 pontos
			.choice{:score=>5}
				.title Usa pesticidas químicos seguindo as instruções
				.consequence.underwater
					.screen.underwater#animation_4_c
						.caterpillars-left
						.caterpillars-right
						.levada
						.poison
						.tree
						.vegetables
					.content
						%p Se escolher usar pesticidas químicos deve seguir as instruções da embalagem. E deve ter em atenção para não utilizar pesticidas quando está chuva e vento para não espalhar o pesticida pelos terrenos à volta.
						%p Mas sempre que possível deve utilizar produtos aprovados para agricultura biológica, que apesar de serem mais caros, compensam porque não vão contaminar a colheita nem a água.
						%p Ganha 5 pontos
	/ .screen
	/ 	.question O António está a fumar um cigarro. Quando termina...
	/ 	.choices
	/ 		.choice{:score=>10}
	/ 			.title Apaga-o e guarda-o para depois colocar no lixo
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_5_a
	/ 					.bomb
	/ 					.fish
	/ 					.monk-seal						
	/ 				.content
	/ 					%p O melhor para a sua saúde era mesmo não fumar, mas se é fumador o mais provável é fumar entre 10 a 20 cigarros por dia, ou seja 3600 a 7200 cigarros por ano. Agora multiplique este valor pelos fumadores que conhece... Ao deitar as betas no lixo está a impedir que esse lixo se acumule, até porque essas beatas demoram 2 a 5 anos a se desfazerem na terra e com a chuva são arrastadas para o mar onde continuam a dar problemas.
	/ 					%p Ganha 10 pontos 						
	/ 		.choice{:score=>-10}
	/ 			.title Atira-a para o chão, para a levada ou para a sargeta/adufa.
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_5_b
	/ 					.net
	/ 					.fish-group
	/ 						.num1
	/ 						.num2
	/ 						.num3
	/ 						.num4
	/ 					.monk-seal
	/ 				.content
	/ 					%p As beatas de cigarro mal apagadas são responsáveis por incêndios que destroem a floresta e também casas e terrenos agrícolas.
	/ 					Deitá-las na levada também não é solução porque elas vão contaminar a água para a rega com os químicos acumulados no filtro e depois são arrastadas para o mar, onde contaminam o oceano e os animais marinhos.
	/ 					%p Perde 10 pontos
	/ 		.choice{:score=>-10}
	/ 			.title Esconde-o debaixo de uma pedra
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_5_c
	/ 					.net
	/ 					.fish-group
	/ 						.num1
	/ 						.num2
	/ 						.num3
	/ 						.num4
	/ 					.monk-seal
	/ 				.content
	/ 					%p Esconder o problema não faz com que ele desapareça, esconder o cigarro debaixo de uma pedra tem o mesmo efeito que jogá-lo para o chão ou para a levada. 
	/ 					%p A beata vai contaminar o terreno e a água junto ao local onde a colocar, afetando a qualidade da sua colheita.
	/ 					%p Perde 10 pontos.
	/ .screen
	/ 	.question O António fez uma monda e tem restos de plantas para deitar fora.
	/ 	.choices
	/ 		.choice{:score=>-10}
	/ 			.title Atira-os para a levada
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_6_a
	/ 					.nature
	/ 					.fish-profitable
	/ 					.fish-non-profitable
	/ 					.money
	/ 					.net
	/ 				.content
	/ 					%p Ao deitar o lixo na levada, corre o risco de entupir a levada. Assim, vai estar a desperdiçar água que vai correr fora da levada e vai ter menos água na levada para regar a sua plantação. Isto vai afetar a qualidade e o valor dos seus produtos.
	/ 					%p Perde 10 pontos
	/ 		.choice{:score=>15}
	/ 			.title Coloca-os no compostor
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_6_b
	/ 					.nature
	/ 					.net
	/ 					.clock
	/ 					.fish-left
	/ 					.fish-right
	/ 					.fish-group
	/ 						.num1
	/ 						.num2
	/ 						.num3
	/ 						.num4
	/ 						.num5
	/ 						.num6
	/ 				.content
	/ 					%p Todos os restos de comida e plantas (lixo orgânico) podem ser postos no compostor. Ao pôr o lixo orgânico no compostor, as minhocas vão decompor os restos e vão libertar minerais para a terra. A terra depois deste processo vai ter melhor qualidade para plantar. Está a melhorar a qualidade da sua colheita sem gastar dinheiro em aditivos e adubos químicos.
	/ 					%p Ganha 15 pontos
	/ 		.choice{:score=>-5}
	/ 			.title Contactar alguém para recolher o material
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_6_c
	/ 					.nature
	/ 				.content
	/ 					%p Existem empresas que podem recolher os restos de plantas, mas vai estar a pagar para levarem uma coisa que é valiosa para o seu terreno. Se colocar estes restos no compostor vai ter terra com melhor qualidade para plantar. 
	/ 					%p Mas se tem muitos restos e não cabem no compostor, deve retirá-los do terreno para não atrair ratos e não correr riscos de incêndios.
	/ 					%p Perde 5 pontos
	/ 		.choice{:score=>-15}						
	/ 			.title Queima-os
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_6_d
	/ 					.nature
	/ 				.content
	/ 					%p As queimadas são muito perigosas e podem dar origem a grandes incêndios que destroem plantações, casas e a floresta Laurissilva. Também ao queimar os restos de plantas está a perder minerais essenciais ao crescimento da sua colheita, que são facilmente arrastados para fora do seu terreno pela água da chuva.
	/ 					%p Mas se tiver mesmo de fazer uma queimada avise os bombeiros e os serviços florestais.
	/ 					%p Perde 15 pontos
	/ .screen
	/ 	.question O António acabou o trabalho no seu terreno e tem plásticos para deitar fora. O que faz com este lixo?
	/ 	.choices
	/ 		.choice{:score=>-15}
	/ 			.title Atira-os para a levada
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_7_a
	/ 					.nature.special
	/ 					.shredded-net
	/ 					.fish-left
	/ 					.fish-right
	/ 					.tangled-fish
	/ 					.passing-boat
	/ 				.content
	/ 					%p O plástico colocado na água demora mais de 50 anos a se decompor. 
	/ 					%p Na nossa ilha todo o lixo abandonado é arrastado para o mar, e vai contaminar o mar destruindo as plantas e animais marinhos, e afetando a vida dos pescadores. 90% do lixo que se encontra no mar são plásticos, muitos animais marinhos confundem os plásticos com alimento, acabando por morrer ao comê-los.
	/ 					%p Perde 15 pontos
	/ 		.choice{:score=>15}
	/ 			.title Contactar alguém para recolher o lixo
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_7_b
	/ 					.nature.special
	/ 					.fish-left
	/ 					.fish-right
	/ 					.broken-net
	/ 					.thought-bubble
	/ 				.content
	/ 					%p O plástico demora 450 anos a se decompor e provoca danos graves no ambiente. 
	/ 					%p É importante que o plástico seja reciclado, mas atenção porque as embalagens de material tóxico não podem ser recicladas, para não contaminarem outros plásticos para reciclagem. Estas embalagens também não podem ser colocadas juntamente com o lixo comum. O plástico das embalagens de produtos tóxicos, como pesticidas, deve ser enviado para locais específicos e tratado como resíduo perigoso. 
	/ 					%p Ganha 15 pontos
	/ 		.choice{:score=>15}
	/ 			.title Reciclar o plástico
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_7_c
	/ 					.nature.special
	/ 					.fish-left
	/ 					.fish-right
	/ 					.broken-net
	/ 					.thought-bubble
	/ 					.trashcan
	/ 					.trashcan-lid
	/ 				.content
	/ 					%p O plástico é muito tóxico para o meio ambiente mas é dos tipos de lixo que mais se recicla em Portugal. Existem contentores próprios para a reciclagem de plástico, ecopontos amarelos, onde deve colocar as embalagens de plástico.
	/ 					%p Mas tenha cuidado, porque nem todos os plásticos podem ser reciclados, embalagens de comida ainda sujas ou embalagens de produtos tóxicos não podem ser recicladas.
	/ 					%p Ganha 15 pontos
	/ 		.choice{:score=>-15}						
	/ 			.title Atirar para o terreno abandonado
	/ 			.consequence.underwater
	/ 				.screen.underwater#animation_7_d
	/ 					.nature
	/ 				.content
	/ 					%p O plástico demora 450 anos a se desfazer na terra. O plástico tem químicos que vão contaminar o terreno e as ervas e plantas desse terreno. Ao contaminar a terra, os danos vão espalhar-se também para os terrenos à volta e vai ter problemas com as suas colheitas.
	/ 					%p Perde 15 pontos