---
title: Farmer
bodyClass: farmer english
---

#character
#score{'data-bind'=>'text: score'}
#consequence
	.content
#continue_journey_button
#throw_button.leave
#control
	.arrow.swing.first
	%svg.trajectory{:xmlns=>'http://www.w3.org/2000/svg', 'xmlns:xlink'=>'http://www.w3.org/1999/xlink'}
		/ the initial velocity vector
		%line{:x1=>'0', :y1=>'480', 'data-bind'=>'attr: {y2:(480-4*vy()),x2:4*vx()}'}

		/ the trails of the trajectory motion
		/ ko foreach:trails
		%circle{:r=>'4', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x+'%',cy:(100-y)+'%'}"}
		/ /ko

		/ the simulation object
		%circle{:r=>'8', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x()+'%',cy:(100-y())+'%'}"}

#setting
	.overlay
	.screen.tutorial
		%a#skip_tutorial{:href=>"#"}Skip
		.screen.character-intro
			.indicator
			.text Este é o António, o agricultor
		.screen.advance-control-intro
			.indicator
			.continue_journey_button
			.background
			.text Para o António avançar na aventura tem de carregar aqui
		.screen.sea-intro
			.choices.come
			.text As decisões do António vão depender da sua pontaria. Em cada decisão existe um terreno de opções... e uma mão para o plantar.
			.background
		.screen.arrow-intro
			.choices.come
			.indicator.farmer
			.throw_button
			.text Este botão controla o braço que lança sementes
			.background
			.text-next Ao carregar no botão quando o braço tiver a inclinação certa vai conseguir selecionar a resposta.
		.screen.good-luck
			.indicator
			.text Boa Sorte!
	.screen
		.question Joe is a farmer and his farm is near the Laurissilva forest. At the beginning of the day Joe is walking to his farm and sees that there is trash in the levada. He should…
		.choices.come
			.choice{:score=>-10}
				.title Leave it, whoever uses the water first should clean it
				.consequence.underwater
					.screen.underwater#animation_1_a
						.levada
						.trash
						.tree
						.vegetables
						.clock
					.content
						%p Water is a very valuable resource for farming, so it is important that people use it wisely.
						%p If you leave garbage in the canal, you will be wasting some of the water and contaminating the water. You will get less water and that will affect the quality of your crops.
						%p You loose 10 points
			.choice{:score=>10}
				.title Clean the levada
				.consequence.underwater
					.screen.underwater#animation_1_b
						.levada.future
						.tree
						.vegetables
					.content
						%p Water is a very valuable resource and it is everyone’s responsibility to make sure that it is not wasted and that it is not contaminated. By taking the trash out of the canal you are preventing the water from getting dirty and being wasted. You will have enough water and high quality water and therefore good crops.
						%p You win 10 points
			.choice{:score=>-10}
				.title Leave it, whoever put the trash there should clean it
				.consequence.underwater
					.screen.underwater#animation_1_c
						.levada
						.trash
						.tree
						.vegetables
						.clock
					.content
						%p It is everyone’s responsibility to make sure that the water is not wasted or contaminated. Even though the garbage blocking the canal is not yours, the water will be contaminated and some of it will be wasted, if you don’t take it out. You will get less high quality water and this will affect your crops.
						%p You loose 10 points
	.screen
		.question He sees that there is a maracuja banana plant growing between his farm and the forest. What should he do?
		.choices
			.choice{:score=>-10}
				.title Let the plant grow, so it produces fruit and he can eat it
				.consequence.underwater
					.screen.underwater#animation_2_a
						.trees
						.vegetables
						.maracuja
						.maracuja-later-1
						.maracuja-later-2
					.content
						%p The maracuja banana is an invasive plant. This plant grows and covers the plants around them. This is especially dangerous when it is the plants and trees from Madeira’s natural forest that are being eliminated from invasice species. If you don’t do anything, you will be helping the invasive plant to grow and the Laurissilva forest to decrease.
						%p You loose 10 points
			.choice{:score=>-5}
				.title Take it out and plant it near your house
				.consequence.underwater
					.screen.underwater#animation_2_b
						.trees
						.vegetables
						.maracuja
						.bubble
					.content
						%p The maracuja banana is a plant that is not native to Madeira Island and  is considered an invasive plant. This plant grows and spreads at a very high rate, killing all the plants around it and taking over that space. If you plant it near your house or your farm you need to monitor its growth very carefully in order to prevent it from getting out of control.
						%p It’s better that you choose another type of maracuja to plant.
						%p You loose 5 points
			.choice{:score=>-15}
				.title Eat and throw away the peels
				.consequence.underwater
					.screen.underwater#animation_2_c
						.trees
						.vegetables
						.rat-1
						.rat-2
						.peel
						.maracuja-later-c
					.content
						%p The maracuja banana is an invasive plant. These plants grow and spread very fast. Each fruit has 30 to 200 seeds. When you throw away the peels, you may also be throwing away some of the seeds and these will grow new plants that will take over other locations.
						%p Also, by leaving organic waste near farms you are attracting rats that will feed from the waste and harm both your crops and the Laurissilva forest.
						%p You loose 15 points
			.choice{:score=>10}
				.title Extract the plant
				.consequence.underwater
					.screen.underwater#animation_2_d
						.vegetables
						.trees
					.content
						%p There are many invasive plants in Madeira, like the acacia, the isoplex and others that grow fast and kill the plants around them. It is necessary to destroy these plants, so they don´t take over and destroy the Laurissilva forest. The invasive plants are very resistant and it’s difficult to destroy them. Each one has to be destroyed in a specific way, if you need to learn how to kill invasive species please contact Parque Natural.
						%p You win 10 points 
	.screen
		.question Next, he is on his farm working, and he sees a pigeon eating his crop. What can he do?
		.choices
			.choice{:score=>15}
				.title Let the pigeon eat the crops
				.consequence.underwater
					.screen.underwater#animation_3_a
						.grass
						.levada
						.crap
						.crap-tree
						.pigeon
						.vegetables
						.cloud-1
						.cloud-2
						.forest
						.drop
					.content
						%p The pigeon is one of the most important animals in the forest. 
						%p The pigeon eats seeds from the forest and helps the forest to renew, increasing the number of plants in the Laurissilva forest.
						%p The Laurissilva forest is important because its plants capture water from the moisture in the air and puts that water in the soil and canal so it can be used for farming.
						%p By letting the pigeon live, you are helping the forest to grow.
						%p You win 15 points
			.choice{:score=>-20}
				.title Kill the pigeon
				.consequence.underwater
					.screen.underwater#animation_3_b
						.grass
						.levada
						.pigeon
						.vegetables
						.forest
						.rifle
						.gunpowder
					.content
						%p The pigeon is important in the regeneration process of the forest, because it eats the seeds and helps to spread them. The Laurissilva forest is important because the plants absorb the water from the moisture in the air and channel that water into the soil and water canals.
						%p If you kill the pigeon, the forest will not renew itself and there will be less water. So your crops will have lower quality.
						%p The pigeon is an endangered species and you should protect it.
						%p You loose 20 points						
			.choice{:score=>20}
				.title Scare the pigeon away
				.consequence.underwater
					.screen.underwater#animation_3_c
						.grass
						.levada
						.pigeon
						.vegetables
						.forest
						.bomb
						.scarecrow
						.tape
					.content
						%p There are a lot of methods that can be used safely to keep the pigeon away from your farm. You can use a sound scarecrow that simulates the sound of a gunshot from time to time. You can use nets that cover your crops, reflecting tape or scare crows. However, animals do adapt to their environment and get used to these methods, so change methods often. Parque Natural can help you choose the best option.
						%p You win 20 points
			.choice{:score=>-15}
				.title Put poison on the plants to kill the pigeon
				.consequence.underwater
					.screen.underwater#animation_3_d
						.grass
						.levada
						.pigeon
						.vegetables
						.forest
						.poison-1
						.poison-2
					.content
						%p Poison is very dangerous and should not be used in farming. The poison will not only kill the pigeon, it can kill other animals that help you and even pets. It will also contaminate the water supply and your crops. Your crops will be of a bad quality and you will not be able to sell them.
						%p You loose 15 points
	.screen
		.question He now finds a few bugs on his crop. The bugs are really big. In order to solve it...
		.choices
			.choice{:score=>-15}
				.title He can use commercial pesticides but with a stronger concentration
				.consequence.underwater
					.screen.underwater#animation_4_a
						.caterpillars-left
						.caterpillars-right
						.levada
						.poison
						.tree
						.vegetables						
					.content
						%p Just because the bugs are big, you should not use more chemicals than the amount indicated on the package. The pesticides not only kill bugs, but will contaminate your crops and the water. If you use pesticides and do not follow the instructions, your soil will be contaminated even more and you won’t be able to sell your crops. Pesticides are also washed away by the rain and taken by the wind to contaminate farms nearby. It is best for everyone’s health not to use pesticides at all.
						%p You loose 15 points
			.choice{:score=>15}
				.title Use plants and other animals to control the plagues
				.consequence.underwater
					.screen.underwater#animation_4_b
						.caterpillars-left
						.caterpillars-right
						.birds-left
						.birds-right
						.levada
						.tree
						.vegetables
					.content
						%p There are animals that eat some insects and can help you. A couple of birds and their chicks can eat up to 1000 insects a day; a ladybug eats 60 aphids a day and a bat can eat 3000 moths. Having hedges near your farm attracts birds that can make their nests there, and they will help you get rid of the bugs!
						%p You win 15 points
			.choice{:score=>5}
				.title Use commercial products according to the instructions
				.consequence.underwater
					.screen.underwater#animation_4_c
						.caterpillars-left
						.caterpillars-right
						.levada
						.poison
						.tree
						.vegetables
					.content
						%p If you choose to use pesticides, you should follow the instructions and use it accordingly. You shouldn’t use pesticides when it is raining or windy, or the pesticide will spread to farms nearby, or get washed into the water supply.
						%p Remember there are products that are specifically for organic farming and even though they are more expensive it pays in the long run to have no side effects for your crops.
						%p You win 5 points
	.screen
		.question Joe is smoking a cigarette.  Once he finishes it, he…
		.choices
			.choice{:score=>10}
				.title Puts it away and keeps it to throw in the garbage bin
				.consequence.underwater
					.screen.underwater#animation_5_a
						.forest
						.vegetables
						.speech-bubble
						.cigarette-1
					.content
						%p The best thing for your health is to quit smoking. If you are a smoker you probably smoke 10 to 20 cigarettes a day, that means 3600 to 7200 a year. Now just multiply this number by the number of people that smoke and see the big picture. If you throw the cigarette butt in the garbage bin, you are preventing all this garbage from accumulating on land, much of which is washed to the ocean by the rain. It takes 2 to 5 years for a cigarette to decompose.  Once in the ocean, they look like food for the fish you eat.
						%p You win 10 points
			.choice{:score=>-10}
				.title Throw it on the ground, in the levada or down a drain
				.consequence.underwater
					.screen.underwater#animation_5_b
						.forest
						.vegetables
						.cigarette-2
						.fire
					.content
						%p Cigarette butts can start fires that destroy houses, plantations and forest.
						%p Throwing them in the canal is not a better solution because it will eventually end up in the ocean contaminating the water, animals, and plants. It takes 2 to 5 years for a cigarette to decompose.  Once in the ocean, they look like food for the fish you eat.
						%p You loose 10 points
			.choice{:score=>-10}
				.title Stick the cigarette butt under a rock
				.consequence.underwater
					.screen.underwater#animation_5_c
						.forest
						.vegetables
						.cigarette-3
						.rock
						.contamination
					.content
						%p Hiding the problem doesn’t make it ok. Hiding a cigarette butt has the same effect as throwing it on the ground or in the levada. It will contaminate the soil, the water and will affect the quality of your crops.
						%p You loose 10 points
	.screen
		.question He finished work and he has plants to throw away
		.choices
			.choice{:score=>-10}
				.title Throw it in the levada
				.consequence.underwater
					.screen.underwater#animation_6_a
						.levada
						.trash
						.tree
						.vegetables
						.clock
					.content
						%p Any garbage that is placed in the levada can clog it. By clogging the levada you are promoting an overflow that will waste water. You will have less water for your crops. This will affect the quality and value of your crops.
						%p You loose 10 points
			.choice{:score=>15}
				.title Put it in the composter
				.consequence.underwater
					.screen.underwater#animation_6_b
						.levada
						.tree
						.vegetables
						.compost
						.trash-compost
					.content
						%p All your organic waste can be used to make compost. The composting process occurs when the micro-organisms in the soil decompose the organic waste and make nutrients and minerals available for the plants in the soil. Turning organic waste into soil is good for farming.
						%p You are improving the quality of your crops without spending money on chemical fertilizers or additives.
						%p You win 15 points
			.choice{:score=>-5}
				.title Have someone pick it up
				.consequence.underwater
					.screen.underwater#animation_6_c
						.levada
						.tree
						.vegetables
						.truck
						.trash-truck
					.content
						%p There are companies that collect the organic waste, but you will be paying to get rid of material that is valuable for your farm. If you compost it, you will get organic soil with better quality for planting. 
						%p But if you have too much waste and cannot compost all of it, you should take it away from your farm so it doesn’t attract rats or increase the chances of a fire.
						%p You loose 5 points						
			.choice{:score=>-15}						
				.title Burn it
				.consequence.underwater
					.screen.underwater#animation_6_d
						.levada
						.forest
						.vegetables
						.trash-fire
					.content
						%p Fires are very dangerous and can lead to bigger fires that destroy crops, houses and the Laurissilva forest. Also when you burn the organic waste, you are losing some of the minerals that are essential to your crops and that are then easily washed away from your farm when it rains.
						%p If you really need to burn any waste, inform the firemen and the forest department.
						%p You loose 15 points
	.screen
		.question He finished work and he has plastic to throw away...
		.choices.come
			.choice{:score=>-15}
				.title Put it in the water canal
				.consequence.underwater
					.screen.underwater#animation_7_a
						.levada
						.plastic.first
						.plastic.second
						.plastic.third
						.sea
						.tree
						.vegetables
					.content
						%p The plastic in the water takes 50 years to decompose. 
						%p In Madeira, all the trash that is abandoned is washed to the ocean, contaminating the ocean and harming the animals and plants that live there (fish, mammals, crustaceos, birds). This has a serious effect on fishing activity. 90% of the trash in the ocean is plastic and many animals mistake it for food and die because they eat the garbage. Those that live, are contaminated from chemicals in plastic, and that is passed on to you when you eat them.
						%p You loose 15 points						
			.choice{:score=>15}
				.title Call someone to collect it
				.consequence.underwater
					.screen.underwater#animation_7_b
						.levada
						.truck
						.plastic-truck
						.tree
						.vegetables
					.content
						%p Plastic takes 450 years to decompose and damages the ecosystem. 
						%p It is important to recycle plastic, but not all plastic can be recycled. For exemple, packaging from toxic substances cannot be recycled or else it would contaminate other plastic. These packages cannot be placed with regular waste either. All packaging that contained toxic substances, like pesticides, must be sent to special locations to be treated as dangerous waste.
						%p You win 15 points
			.choice{:score=>15}
				.title Recycle the plastic
				.consequence.underwater
					.screen.underwater#animation_7_c
						.levada
						.tree
						.vegetables
						.trash-group
						.recycle-bubble
					.content
						%p Plastic is very dangerous for the ecosystem, but it also has one of the highest recycling rates in Portugal. There are containers available for plastic to be recycled (yellow containers). Please put plastics there. But be careful, not all plastic can be recycled. Packages from food leftovers or packages that contained toxic materials cannot be recycled.
						%p You win 15 points
			.choice{:score=>-15}						
				.title Throw it to an abandoned farm
				.consequence.underwater
					.screen.underwater#animation_7_d
						.levada
						.tree
						.vegetables
						.abandoned-bubble
						.abandoned-trash
					.content
						%p Plastic takes 450 years to decompose on land and it contains plasticizers, fillers, pigments and additives that will contaminate the soil. When you contaminate soil, the plants that grow there and on farms nearby are contaminated too. Ultimately, you will also have crops with lower quality.
						%p You loose 15 points
	.screen.special
		.question{'data-bind'=>'visible: score() <= 0'} Wow! If you keep doing this, there will be no laurissilva forest for your children to enjoy and take advantage of. You need to be eco compatible!
		.audio_content{'data-bind'=>'if: score()<=0'}
		.question{'data-bind'=>'visible: score() > 0 && score() < 40'} Congrats! You are on the right path to become an eco compatible farmer, if you are a little more careful our future is going to be better
		.audio_content{'data-bind'=>'if: score() > 0 && score() < 40'}
		.question{'data-bind'=>'visible: score() >= 40'} Congrats! You were an excellent farmer, the future of farming and the laurissilva forest are guaranteed.
		.audio_content{'data-bind'=>'if: score() >= 40'}
		.final_score
			%span{'data-bind'=>'text: score'}
			Pontos
		%menu.general
			%a#view_score{:href=>'#'}Save Score
			%a#play_again{:href=>'/farmer.html'}Play Again
			%a#view_gallery{:href=>'#'}Drawings
			%a#exit{:href=>'/'}Exit
		.pier
		.catch{'data-bind'=>'css: {"good": score() > 0, "great": score() > 20, "amazing": score() > 40}'}
		.score_page
			%a.close_score{:href=>'#'}Close
			.save_box
				%input#score_name{:type=>'text'}
				%a#save_score{:href=>'#'}Save
			%table
				%thead
					%tr
						%th Player
						%th Points
				%tbody{'data-bind'=>'foreach: scores'}
					%tr
						%td{'data-bind'=>'text: name'}
						%td{'data-bind'=>'text: score'}
		.drawings
			%menu
				%a#gallery_up{:href=>'#'}
				%a#gallery_down{:href=>'#'}
			%section
				%h3 Santana
				%figure
					%img{:src => "images/gallery/SANT_3_adriana_silva_alves.jpg"}
					%figcaption Adriana Silva Alves
				%figure
					%img{:src => "images/gallery/SANT_3_afonso.jpg"}
					%figcaption Afonso
				%figure
					%img{:src => "images/gallery/SANT_3_ana_catarina.jpg"}
					%figcaption Ana Catarina
				%figure
					%img{:src => "images/gallery/SANT_3_andre_miguel_rocha_caldeira.jpg"}
					%figcaption Andre Miguel Rocha Caldeira
				%figure
					%img{:src => "images/gallery/SANT_3_bryan.jpg"}
					%figcaption Bryan
				%figure
					%img{:src => "images/gallery/SANT_3_diana_jose_silva_camara.jpg"}
					%figcaption Diana Jose Silva Camara
				%figure
					%img{:src => "images/gallery/SANT_3_duarte.jpg"}
					%figcaption Duarte
				%figure
					%img{:src => "images/gallery/SANT_3_francisco.jpg"}
					%figcaption Francisco
				%figure
					%img{:src => "images/gallery/SANT_3_joana.jpg"}
					%figcaption Joana
				%figure
					%img{:src => "images/gallery/SANT_3_kevin.jpg"}
					%figcaption Kevin
				%figure
					%img{:src => "images/gallery/SANT_3_liliana_martins_andrade.jpg"}
					%figcaption Liliana Martins Andrade
				%figure
					%img{:src => "images/gallery/SANT_3_natasha_goncalves_laranja.jpg"}
					%figcaption Natasha Goncalves Laranja
				%figure
					%img{:src => "images/gallery/SANT_3_rafael.jpg"}
					%figcaption Rafael
				%figure
					%img{:src => "images/gallery/SANT_3_raquel.jpg"}
					%figcaption Raquel
				%figure
					%img{:src => "images/gallery/SANT_3_rodrigo_almada.jpg"}
					%figcaption Rodrigo Almada
				%figure
					%img{:src => "images/gallery/SANT_3_rodrigo_filipe.jpg"}
					%figcaption Rodrigo Filipe
				%figure
					%img{:src => "images/gallery/SANT_3_sara.jpg"}
					%figcaption Sara
				%figure
					%img{:src => "images/gallery/SANT_4_bernardo.jpg"}
					%figcaption Bernardo
				%figure
					%img{:src => "images/gallery/SANT_4_claudia_nunes_alves.jpg"}
					%figcaption Claudia Nunes Alves
				%figure
					%img{:src => "images/gallery/SANT_4_daniel.jpg"}
					%figcaption Daniel
				%figure
					%img{:src => "images/gallery/SANT_4_diogo_antonio.jpg"}
					%figcaption Diogo Antonio
				%figure
					%img{:src => "images/gallery/SANT_4_diogo_azevedo.jpg"}
					%figcaption Diogo Azevedo
				%figure
					%img{:src => "images/gallery/SANT_4_francisco.jpg"}
					%figcaption Francisco
				%figure
					%img{:src => "images/gallery/SANT_4_gustavo.jpg"}
					%figcaption Gustavo
				%figure
					%img{:src => "images/gallery/SANT_4_joao_pedro.jpg"}
					%figcaption Joao Pedro
				%figure
					%img{:src => "images/gallery/SANT_4_leandro.jpg"}
					%figcaption Leandro
				%figure
					%img{:src => "images/gallery/SANT_4_luis_filipe.jpg"}
					%figcaption Luis Filipe
				%figure
					%img{:src => "images/gallery/SANT_4_pedro_miguel.jpg"}
					%figcaption Pedro Miguel
				%figure
					%img{:src => "images/gallery/SANT_4_rodrigo.jpg"}
					%figcaption Rodrigo
				%figure
					%img{:src => "images/gallery/SANT_4_sergio.jpg"}
					%figcaption Sergio
				%figure
					%img{:src => "images/gallery/SANT_4_sofia.jpg"}
					%figcaption Sofia
				%h3 Seixal
				%figure
					%img{:src => "images/gallery/SEIX_3_Bruno.jpg"}
					%figcaption Bruno
				%figure
					%img{:src => "images/gallery/SEIX_3_Diana.jpg"}
					%figcaption Diana
				%figure
					%img{:src => "images/gallery/SEIX_3_Francisca.jpg"}
					%figcaption Francisca
				%figure
					%img{:src => "images/gallery/SEIX_3_Joao_Pedro.jpg"}
					%figcaption João Pedro
				%figure
					%img{:src => "images/gallery/SEIX_3_Joao_Pedro2.jpg"}
					%figcaption João Pedro
				%figure
					%img{:src => "images/gallery/SEIX_3_Laurina.jpg"}
					%figcaption Laurina
				%figure
					%img{:src => "images/gallery/SEIX_3_Leonardo.jpg"}
					%figcaption Leonardo
				%figure
					%img{:src => "images/gallery/SEIX_3_Leticia.jpg"}
					%figcaption Leticia
				%figure
					%img{:src => "images/gallery/SEIX_3_Matilde.jpg"}
					%figcaption Matilde
				%figure
					%img{:src => "images/gallery/SEIX_3_Oriana.jpg"}
					%figcaption Oriana
				%figure
					%img{:src => "images/gallery/SEIX_4_Catarina.jpg"}
					%figcaption Catarina
				%h3 Sao Roc Faial
				%figure
					%img{:src => "images/gallery/SRF_3_cristiano.jpg"}
					%figcaption Cristiano
				%figure
					%img{:src => "images/gallery/SRF_3_cristina.jpg"}
					%figcaption Cristina
				%figure
					%img{:src => "images/gallery/SRF_3_emanuel.jpg"}
					%figcaption Emanuel
				%figure
					%img{:src => "images/gallery/SRF_3_nicole.jpg"}
					%figcaption Nicole
				%figure
					%img{:src => "images/gallery/SRF_3_pedro_miguel.jpg"}
					%figcaption Pedro Miguel
				%figure
					%img{:src => "images/gallery/SRF_3_rodrigo_nunes.jpg"}
					%figcaption Rodrigo Nunes
				%figure
					%img{:src => "images/gallery/SRF_3_sabrina.jpg"}
					%figcaption Sabrina
				%figure
					%img{:src => "images/gallery/SRF_3_veronica.jpg"}
					%figcaption Veronica
				%figure
					%img{:src => "images/gallery/SRF_4_ana_luisa.jpg"}
					%figcaption Ana Luisa
				%figure
					%img{:src => "images/gallery/SRF_4_ana_luisa_2.jpg"}
					%figcaption Ana Luisa
				%figure
					%img{:src => "images/gallery/SRF_4_bruna.jpg"}
					%figcaption Bruna
				%figure
					%img{:src => "images/gallery/SRF_4_bruno_faisca.jpg"}
					%figcaption Bruno Faisca
				%figure
					%img{:src => "images/gallery/SRF_4_joao_pedro_abreu_correia.jpg"}
					%figcaption Joao Pedro Abreu Correia
				%figure
					%img{:src => "images/gallery/SRF_4_mariana.jpg"}
					%figcaption Mariana
				%figure
					%img{:src => "images/gallery/SRF_4_oceano.jpg"}
					%figcaption Oceano
				%figure
					%img{:src => "images/gallery/SRF_4_pedro_alexandre.jpg"}
					%figcaption Pedro Alexandre
				%figure
					%img{:src => "images/gallery/SRF_4_renato.jpg"}
					%figcaption Renato			
