---
title: Fisherman
bodyClass: fisherman
---

#character
#score{'data-bind'=>'text: score'}
#consequence
	.content
#continue_journey_button
#throw_button.leave
#control
	.arrow.swing.first
	%svg.trajectory{:xmlns=>'http://www.w3.org/2000/svg', 'xmlns:xlink'=>'http://www.w3.org/1999/xlink'}
		/ the initial velocity vector
		%line{:x1=>'0', :y1=>'480', 'data-bind'=>'attr: {y2:(480-4*vy()),x2:4*vx()}'}

		/ the trails of the trajectory motion
		/ ko foreach:trails
		%circle{:r=>'4', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x+'%',cy:(100-y)+'%'}"}
		/ /ko

		/ the simulation object
		%circle{:r=>'8', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x()+'%',cy:(100-y())+'%'}"}


#setting
	.screen.tutorial
		/ %a.skip_button{:href=>"#", :onclick=>"$('#continue_journey_button').trigger('click');"}Skip
		.screen.character-intro			
			.indicator
			.text Este é o Manel pescador
		.screen.advance-control-intro			
			.indicator
			.continue_journey_button
			.text para o Manel avançar na aventura tem de carregar aqui
		.screen.sea-intro
			.choices.come
			.text As decisões do Manel...
		.screen.arrow-intro
			.choices.come
			.indicator.fisherman
			.sea-background
			.throw_button
			.text este botão controla a cana de pesca
			.text-next ao carregar no botao...
		.screen.good-luck
			.indicator
			.text Boa Sorte!
	.screen
		.question Manel, o pescador vai iniciar a sua pesca no oceano. Ele tem de decidir onde pescar.
		.choices.come
			.choice{:score=>-10}
				.title Junto a uma Reserva Natural
				.consequence.underwater
					.screen.underwater#animation_1_a
						.nature
						.net
						.clock
						.buoy
						.fish-left
						.fish-right
					.content
						%p As reservas naturais são muito importantes para manter e aumentar o número de peixes no mar. A quantidade de peixes tem diminuído muito por causa da pesca excessiva e das técnicas usadas, como por exemplo a pesca com redes. É importante proteger as reservas para os peixes se reproduzirem e aumentar o número de peixes disponíveis no futuro.
						%p Perde 10 pontos
			.choice{:score=>-5}
				.title Em local onde existem peixes jovens
				.consequence.underwater
					.screen.underwater#animation_1_b
						.nature
						.fish-left
						.fish-right
						.net
						.clock
					.content
						%p Se pescar peixes muito jovens eles não vão crescer e reproduzir-se. Logo, no futuro vão existir menos peixes disponíveis no oceano.
						%p Os peixes produzem muitos ovos mas só duma pequena parte desses ovos é que nascem peixes que sobrevivem e crescem.
						%p Perde 5 pontos
			.choice{:score=>10}
				.title Em local onde existem peixes adultos
				.consequence.underwater
					.screen.underwater#animation_1_c
						.nature
						.fish-left
						.fish-right
					.content
						%p Ao pescar peixes adultos, vai ganhar mais dinheiro com a sua venda e também está a garantir que no futuro terá mais peixes no oceano porque estes peixes já se reproduziram.
						%p Tenha atenção e não pesque durante o período de desova nem pesque espécies protegidas.
						%p Ganha 10 pontos						
	.screen
		.question O Manel, já escolheu o local, e tem de decidir que técnica utilizar para pescar
		.choices
			.choice{:score=>-5}
				.title Usa uma rede de arrasto
				.consequence.underwater
					.screen.underwater#animation_2_a
						.nature.special
						.fish-left
						.fish-right
						.arrasto
					.content
						%p Ao pescar com rede de arrasto, parte do que está na rede não tem valor. Pesca lixo e peixes que não podem ser vendidos, e destrói a zona por onde a rede passa. 
						%p Se utilizar técnicas seletivas (como a cana e a linha) vai controlar o que pesca e pode pescar peixes que valem mais dinheiro, e ao mesmo é melhor para o ambiente.
						%p Perde 5 pontos						
			.choice{:score=>-15}
				.title Joga bombas
				.consequence.underwater
					.screen.underwater#animation_2_b
						.nature.special
						#a1-bomb
						#a1-fish-1
						#a1-fish-2
						#a1-fish-3
						#a1-fish-4
						#a1-fish-5
						#a1-fish-6
						#a1-fish-7
						#a1-fish-8
						#a1-after-fish-1
						.clock
					.content
						%p As bombas matam os peixes e destroem os animais e planta à volta.
						%p Os peixes pescados com bombas valem menos dinheiro por causa do seu aspecto após a explosão.
						%p As explosões destroem a zona e mesmo durante muitos anos depois da explosão, essa zona continua sem peixes. Além disso, esta técnica é ilegal.
						%p Perde 15 pontos
			.choice{:score=>10}
				.title Utiliza técnicas de pesca seletivas (ex: cana de pesca, linha de anzois, etc)
				.consequence.underwater
					.screen.underwater#animation_2_c
						.nature.special
						.hooks
						.fish-left
						.fish-right
						.fished-1
						.fished-2
					.content
						%p Com as técnicas seletivas pode controlar o que pesca, escolhendo o isco, o anzol e a profundidade de pesca. Assim, não pesca peixes que não deve pescar ou que não valem muito e está a garantir que vão existir peixes no futuro.
						%p Ganha 10 pontos
	.screen
		.question O Manel vai à pesca durante o período de desova de alguns peixes. O Manel decide...
		.choices
			.choice{:score=>-5}
				.title Pesca-os a todos
				.consequence.underwater
					.screen.underwater#animation_3_a
						.clock
						.nature.special
						.fish
						.egg
					.content
						%p Ao pescar durante o período de desova está a diminuir o número de peixes para o futuro. Os ovos dos peixes que são pescados, não dão origem a novos peixes. Se não existirem tantos peixes no futuro, os pescadores vão ter cada vez menos peixes para pescar e vender.
						%p Perde 5 pontos
			.choice{:score=>5}
				.title Escolhe outra época para pescar esta espécie que está em desova
				.consequence.underwater
					.screen.underwater#animation_3_b
						.clock
						.nature.special
						.fish-left
						.fish-right
						.calendar
					.content
						%p Ao escolher outra época para pescar não está a prejudicar a espécie durante a desova. Está a permitir que os peixes possam nascer e crescer e que vão existir mais peixes para pescar no futuro.
						%p Ganha 5 pontos
			.choice{:score=>5}
				.title Escolhe outro local para pescar
				.consequence.underwater
					.screen.underwater#animation_3_c
						.clock
						.nature.special
						.fish-left
						.fish-right
					.content
						%p Se pescar noutro local, não vai pescar peixes durante a desova. Está a permitir que os peixes possam nascer e crescer e que vão existir mais peixes para pescar no futuro.
						%p Ganha 5 pontos
	.screen
		.question Enquanto pesca o Manel está a almoçar. Quando acaba de comer pega nos restos e ...
		.choices
			.choice{:score=>-5}
				.title Joga à água
				.consequence.underwater
					.screen.underwater#animation_4_a
						.nature.special
						.fish-left
						.fish-right
						.birds-left
						.birds-right
						.organic
					.content
						%p Os restos de comida decompõe-se facilmente no mar e alimentam os peixes e outros animais. Mas ao atirá-lo à água enquanto pesca, vai atrair aves e outros animais, que irão interferir com a sua pesca e podem ser pescados acidentalmente. Mantenha todo o lixo no barco, em contentores fechados.
						%p Perde 5 pontos
			.choice{:score=>10}
				.title Mantém os restos no barco
				.consequence.underwater
					.screen.underwater#animation_4_b
						.nature.special
						.fish-left
						.fish-right
					.content
						%p Ao manter os restos de comida no barco não está a atrair aves nem outros animais para o local onde está a pescar. Assim, estes animais não vão incomodar a sua pesca e não existe o perigo de pescá-los ou magoá-los acidentalmente.
						%p Ganha 10 pontos
	.screen
		.question O Manel está a pescar e vê um lobo-marinho a nadar ali perto...
		.choices
			.choice{:score=>-10}
				.title Atira uma bomba para assustar o lobo-marinho
				.consequence.underwater
					.screen.underwater#animation_5_a
						.bomb
						.fish
						.monk-seal						
					.content
						%p Não deve atirar bombas para o lobo-marinho porque pode feri-lo ou matá-lo. O lobo-marinho é um animal que está ameaçado de extinção, por isso deve protegê-lo.
						%p Perde 10 pontos
			.choice{:score=>10}
				.title Recolhe o peixe que pescou e muda de local de pesca
				.consequence.underwater
					.screen.underwater#animation_5_b
						.net
						.fish-group
							.num1
							.num2
							.num3
							.num4
						.monk-seal
					.content
						%p O lobo-marinho é um animal curioso e vai tentar apanhar os peixes que está a pescar. Ao mudar o local de pesca, está a evitar que este animal o incomode e atrapalhe a sua pesca.
						%p Ganha 10 pontos
			.choice{:score=>-5}
				.title Continua a pescar
				.consequence.underwater
					.screen.underwater#animation_5_c
						.net
						.fish-group
							.num1
							.num2
							.num3
							.num4
						.monk-seal
					.content
						%p Se continuar a pescar no mesmo local, o lobo-marinho vai comer parte do peixe que é pescado por si, e pode acabar por colocar em perigo a vida de uma espécie protegida.
						%p Perde 5 pontos
	.screen
		.question O Manel está a pescar utilizando uma rede. Ele recolhe a rede e apercebe-se que nem toda a pesca é a desejável…
		.choices
			.choice{:score=>-10}
				.title Guarda todos os peixes mesmo os sem valor comercial 
				.consequence.underwater
					.screen.underwater#animation_6_a
						.nature
						.fish-profitable
						.fish-non-profitable
						.money
						.net
					.content
						%p Ao guardar peixes muito pequenos e que não podem ser vendidos, está a impedir que cresçam e se reproduzam. Logo, vai ter menos peixes no futuro.
						%p Assim, deve deitar ao mar todos os peixes jovens e que não podem ser vendidos para que possam crescer e dar origem a mais peixes que poderão ser pescados e vendidos no futuro.
						%p Ao fazer isto, está a prejudicar a quantidade de peixes no mar e não está a ganhar dinheiro com a sua venda.
						%p Perde 10 pontos
			.choice{:score=>10}
				.title Lança ao mar os peixes jovens
				.consequence.underwater
					.screen.underwater#animation_6_b
						.nature
						.net
						.clock
						.fish-left
						.fish-right
						.fish-group
							.num1
							.num2
							.num3
							.num4
							.num5
							.num6
					.content
						%p Alguns peixes muito pequenos e jovens não podem ser vendidos porque existem leis que proíbem e outros peixes pequenos não têm valor comercial. 
						%p Lembre-se também que não deve pescar peixes jovens, que ainda não se reproduziram. 
						%p Sempre que pescar peixes jovens ou que não têm valor comercial, deite-os no mar logo, para que eles possam recuperar e crescer.
						%p Ganha 10 pontos
	.screen
		.question O Manel apercebe-se que a rede está danificada, e...
		.choices
			.choice{:score=>-10}
				.title Lança a rede no mar
				.consequence.underwater
					.screen.underwater#animation_7_a
						.nature.special
						.shredded-net
						.fish-left
						.fish-right
						.tangled-fish
						.passing-boat
					.content
						%p Linhas e redes ficam no mar durante muitos anos depois de terem sido abandonadas. 
						%p Estas redes prendem, magoam e às vezes matam muitos animais, como por exemplo: lobos-marinhos, golfinhos, tartarugas, baleias e aves.
						%p Estes materiais à deriva também danificam barcos porque prendem-se nas hélices e estragam o motor, mais de 6 em cada 10 barcos madeirenses já tiveram problemas por causa do lixo.
						%p Perde 10 pontos
			.choice{:score=>10}
				.title Recolhe a rede e remenda-a em terra
				.consequence.underwater
					.screen.underwater#animation_7_b
						.nature.special
						.fish-left
						.fish-right
						.broken-net
						.thought-bubble
					.content
						%p Quando acabar de pescar, deve trazer para terra todo o material. Caso veja que a rede está danificada, o melhor é trazê-la e arranjá-la porque assim está também a diminuir o lixo em terra.
						%p Se jogar as redes para o mar, vai afectar os peixes e outros animais e plantas, o que vai ter consequências graves para a sua pesca.
						%p As redes que são abandonadas continuam a pescar sozinhas, matando peixes que ficam no fundo do mar.
						%p Ganha 10 pontos
			.choice{:score=>5}
				.title Traz a rede para terra e deita-a no lixo.
				.consequence.underwater
					.screen.underwater#animation_7_c
						.nature.special
						.fish-left
						.fish-right
						.broken-net
						.thought-bubble
						.trashcan
						.trashcan-lid
					.content
						%p Quando as redes estão estragadas e não podem ser utilizada, deve trazer para terra e deitá-las no lixo.
						%p Caso os aparelhos de pesca estejam presos no fundo deve tentar retirá-los a todo o custo porque o abandono de material no mar causa a morte de animais e traz problemas aos barcos de pesca.
						%p Deve trazer para terra todo o lixo produzido no barco e todo o lixo que encontrar no oceano.
						%p Ganha 5 pontos
	.screen
		.question Este é o fim do dia de pesca do Manel e existe lixo no barco. O Manel não sabe o que fazer com o lixo...
		.choices
			.choice{:score=>-20}
				.title Atira todo o lixo ao mar
				.consequence.underwater
					.screen.underwater#animation_8_a
						.nature.special
						.fish-left
						.fish-right
						.trash.num1
						.trash.num2
						.trash.num3
						.trash.num4
						.trash.num5
					.content
						%p O lixo que é atirado ao mar vai afectar a qualidade da água e a quantidade de peixes no mar.
						%p 90% do lixo que se encontra no oceano é plástico. O plástico é perigoso porque existem animais marinhos que confundem o plástico com o seu alimento natural (como por exemplo as tartarugas, baleias, muitos peixes e aves marinhas) e comem o lixo, o que provoca asfixia, bloqueio do sistema digestivo e morte. 
						%p O plástico também contém substâncias tóxicas que passam para a água dos oceanos e para todos os seres marinhos. 
						%p Perde 20 pontos
			.choice{:score=>25}
				.title Leva o lixo para terra e coloca nos contentores para reciclagem
				.consequence.underwater
					.screen.underwater#animation_8_b
						.nature.special
						.fish-left
						.fish-right
						.thought-bubble					
					.content
						%p Em média, um barco de pesca madeirense gasta por dia: 2 garrafas de plástico; 8 sacos de plástico; 4 garrafas de vidro; 29 embalagens de cartão e papel (incluindo embalagens de tabaco) e 12 pilhas. Agora multiplique esta quantidade pelo número de barcos que pescam na ilha e pelo número de dias do ano e verá a quantidade de lixo que é produzida no mar! 
						%p Traga todo o lixo para terra e o deposite nos contentores para reciclagem. Assim, está a garantir o futuro da pesca.
						%p Ganha 25 pontos
			.choice{:score=>-20}
				.title Atirar as pilhas ao mar
				.consequence.underwater
					.screen.underwater#animation_8_c
						.nature.special
						.fish-left
						.fish-right
						.battery.num1
						.battery.num2
						.battery.num3
						.chemicals
					.content
						%p As pilhas têm produtos tóxicos que passam para a água dos oceanos e para os peixes, animais e plantas. Estes produtos tóxicos, como por exemplo o chumbo, matam peixes, plantas e outros animais, o que tem consequências para a pesca na região. 
						%p As pilhas contém mercúrio, que é ingerido por peixes, como por exemplo o peixe espada. Se estes peixes forem pescados e consumidos, podem causar doenças graves às pessoas que os comerem. Deve trazer as pilhas para terra e colocá-las nos contentores de reciclagem.
						%p Perde 20 pontos
	.screen.special
		.question Parabéns foi um excelente pescador o futuro da pesca e a continuidade das espécies está garantido
		.final_score{'data-bind'=>'text: score'}
		.pier
		.catch{'data-bind'=>'css: {"good": score() > 0, "great": score() > 20, "amazing": score() > 40}'}
