---
title: Fisherman
bodyClass: fisherman english
---

#character
#score{'data-bind'=>'text: score'}
#consequence
	.content
#continue_journey_button
#throw_button.leave
#control
	.arrow.swing.first
	%svg.trajectory{:xmlns=>'http://www.w3.org/2000/svg', 'xmlns:xlink'=>'http://www.w3.org/1999/xlink'}
		/ the initial velocity vector
		%line{:x1=>'0', :y1=>'480', 'data-bind'=>'attr: {y2:(480-4*vy()),x2:4*vx()}'}

		/ the trails of the trajectory motion
		/ ko foreach:trails
		%circle{:r=>'4', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x+'%',cy:(100-y)+'%'}"}
		/ /ko

		/ the simulation object
		%circle{:r=>'8', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x()+'%',cy:(100-y())+'%'}"}


#setting
	.screen.tutorial
		%a#skip_tutorial{:href=>"#"}Skip
		.screen.character-intro			
			.indicator
			.text This is Manel, the fisherman
		.screen.advance-control-intro			
			.indicator
			.continue_journey_button
			.background
			.text In order for Manel to move through the adventure, please press here.
		.screen.sea-intro
			.choices.come
			.text Manel's decisions will depend on how well you aim.  For every decision there is a sea of options, and a fishing rod to fish them.
			.background
		.screen.arrow-intro
			.choices.come
			.indicator.fisherman
			.throw_button
			.text This button controls the fishing rod.
			.background
			.text-next By pressing the button when the rod is angled correctly, you will be able to select an answer.
		.screen.good-luck
			.indicator
			.text  Good luck!
	.screen
		.question Manel the fisherman is about to start his day. He has to decide where to go fish.
		.choices.come
			.choice{:score=>-10}
				.title Near a natural reserve
				.consequence.underwater
					.screen.underwater#animation_1_a
						.nature
						.net
						.clock
						.buoy
						.fish-left
						.fish-right
					.content
						%p The water reserves are very important for the growth of the fish population. The amount of fish in the ocean has decreased as a result of overfishing and the use of non-selective fishing techniques. It is extremely important that we protect the water reserves, so the fish can reproduce and increase the amount of fish.
						%p You loose 10 points
			.choice{:score=>-5}
				.title Where there are a lot of young fish
				.consequence.underwater
					.screen.underwater#animation_1_b
						.nature
						.fish-left
						.fish-right
						.net
						.clock
					.content
						%p If you catch fish that are young, you are preventing them from maturing and breeding age. This will decrease the amount of fish in the future.
						%p Although fish produce a lot of eggs, only a small percentage reaches the adult stage.
						%p You loose 5 points
			.choice{:score=>10}
				.title In a place where there are fish that reach adult age
				.consequence.underwater
					.screen.underwater#animation_1_c
						.nature
						.fish-left
						.fish-right
					.content
						%p If you catch adult fish it will be more profitable for you and at the same time you are promoting the future of the species.
						%p It is important to remember that you shouldn’t fish during breeding season and you should not fish endangered species
						%p You win 10 points						
	.screen
		.question Manel, has selected the location, now he has to decide which technique to use
		.choices
			.choice{:score=>-5}
				.title He uses a net
				.consequence.underwater
					.screen.underwater#animation_2_a
						.nature.special
						.fish-left
						.fish-right
						.arrasto
					.content
						%p When fishing with a net, a big part of what you take from the sea can end up not being good. You just caught a large amount of waste and fish that are not worth a lot, and also seriously damaged the bottom of the ocean and rocks where your net was dragged.
						%p It is more profitable and better for the environment if you use selective fishing techniques. 
						%p You loose 5 points						
			.choice{:score=>-15}
				.title Use bombs
				.consequence.underwater
					.screen.underwater#animation_2_b
						.nature.special
						#a1-bomb
						#a1-fish-1
						#a1-fish-2
						#a1-fish-3
						#a1-fish-4
						#a1-fish-5
						#a1-fish-6
						#a1-fish-7
						#a1-fish-8
						#a1-after-fish-1
						.clock
					.content
						%p Bombs kill the fish in a very violent way, and also kill all the other species of animals and plants that are nearby.
						%p The use of explosives destroys the bottom of the ocean, and results in a huge decrease in the amount of fish. The fish that are caught using explosives don’t look good and are worth less because of it.
						%p Locations that have been bombed require many years even decades to recover and have species living there again. The use of this technique is illegal in Portugal.
						%p You loose 15 points						
			.choice{:score=>10}
				.title Use a selective technique (e.g. fishing pole, dropline)
				.consequence.underwater
					.screen.underwater#animation_2_c
						.nature.special
						.hooks
						.fish-left
						.fish-right
						.fished-1
						.fished-2
					.content
						%p Selective fishing techniques are better because they decrease the amount of accidental fishing and they contribute to keeping fish populations up, ensuring there will be fishing activity in the future.
						%p Choosing the right bait, size of the hook and depth, can decrease the number of unwanted fish or fish with no commercial value that you catch.
						%p You win 10 points
	.screen
		.question Manel is fishing and it is breeding season for some species. He decides to…
		.choices
			.choice{:score=>-5}
				.title Fish all the fish
				.consequence.underwater
					.screen.underwater#animation_3_a
						.clock
						.nature.special
						.fish
						.egg
					.content
						%p Fishing a species during the breeding season will prevent the population from growing and recovering from fishing activity. When you catch fish with eggs you are decreasing the number of fish that will be born and will result in a decrease in the profit for the fishing activity in the future.
						%p You loose 5 points
			.choice{:score=>5}
				.title Choose another time to fish this species 
				.consequence.underwater
					.screen.underwater#animation_3_b
						.clock
						.nature.special
						.fish-left
						.fish-right
						.calendar
					.content
						%p By choosing another time to fish this species you are not harming the species while breeding and you are contributing to the increase in the amount of fish that will be available in the future.
						%p You win 5 points
			.choice{:score=>5}
				.title Choose another location to fish
				.consequence.underwater
					.screen.underwater#animation_3_c
						.clock
						.nature.special
						.fish-left
						.fish-right
					.content
						%p By choosing another location, where you know you are not going to catch the species that are breeding, you are contributing to the increase in the amount of fish that will be available in the future.
						%p You win 5 points
	.screen
		.question While Manel is fishing, he eats his lunch. After he finishes eating, he takes the leftovers and…
		.choices
			.choice{:score=>-5}
				.title Throws it in the water
				.consequence.underwater
					.screen.underwater#animation_4_a
						.nature.special
						.fish-left
						.fish-right
						.birds-left
						.birds-right
						.organic
					.content
						%p Organic waste like food leftovers decomposes easily in the ocean.
						%p Nevertheless when you throw it in the water you are attracting other fish, sea birds and other animals that will interfere with your fishing and that you may catch by accident. Keep the organic waste away from fishing areas.
						%p You loose 5 points
			.choice{:score=>10}
				.title Keep the leftovers on the boat
				.consequence.underwater
					.screen.underwater#animation_4_b
						.nature.special
						.fish-left
						.fish-right
					.content
						%p By keeping the organic waste in the boat you are not attracting sea birds or sea mammals to the location where you are fishing. So these animals are not going to interfere with your fishing and will not be caught by accident.
						%p You win 10 points
	.screen
		.question Manel is fishing and sees a monkey seal nearby
		.choices
			.choice{:score=>-10}
				.title Throw a bomb to scare the monk seal away
				.consequence.underwater
					.screen.underwater#animation_5_a
						.bomb
						.fish
						.monk-seal						
					.content
						%p Throwing a bomb at a monk seal is not the wisest thing to do because you can end up injuring or killing it. Monk seals are an endangered species and you should protect it.
						%p You loose 10 points
			.choice{:score=>10}
				.title Take the fish that you have and go fish elsewhere
				.consequence.underwater
					.screen.underwater#animation_5_b
						.net
						.fish-group
							.num1
							.num2
							.num3
							.num4
						.monk-seal
					.content
						%p The monk seal is a sneaky animal and it will try and catch the fish that you are fishing. By changing location you are preventing it from bothering your fishing activity.
						%p You win 10 points
			.choice{:score=>-5}
				.title Continue fishing
				.consequence.underwater
					.screen.underwater#animation_5_c
						.net
						.fish-group
							.num1
							.num2
							.num3
							.num4
						.monk-seal
					.content
						%p If you continue fishing in the same spot, the monk seal will eat part of the fish that you catch, and you can also put this endangered species’ life in danger. 
						%p You loose 5 points
	.screen
		.question Manel is fishing using a net. He takes the net and just realizes that not all the catch is profitable…
		.choices
			.choice{:score=>-10}
				.title Keeps all the fish, even the ones with no commercial value
				.consequence.underwater
					.screen.underwater#animation_6_a
						.nature
						.fish-profitable
						.fish-non-profitable
						.money
						.net
					.content
						%p By keeping the fish that aren’t the minimum legal size, you are preventing them from breeding and therefore decreasing the amount of fish available in the future.
						%p By keeping the species with no commercial value, you are promoting an unbalanced ecosystem and not getting any profit from it.
						%p By doing this you are harming future fishing activity and damaging marine life.
						%p The fish that are too young or that are not profitable should be thrown back to the sea as soon as possible to continue their life cycle. 
						%p You loose 10 points
			.choice{:score=>10}
				.title Throw the young ones in the ocean
				.consequence.underwater
					.screen.underwater#animation_6_b
						.nature
						.net
						.clock
						.fish-left
						.fish-right
						.fish-group
							.num1
							.num2
							.num3
							.num4
							.num5
							.num6
					.content
						%p There are minimum sizes for fish that can be caught and sold. Remember that you should not catch marine life that has not yet reached maturity. When you see that your catch does not meet the requirements for selling, it is important that you throw it back immediately so they can recover and grow.
						%p You win 10 points
	.screen
		.question Manel sees that the net is broken, and…
		.choices
			.choice{:score=>-10}
				.title Throws plastic in the ocean
				.consequence.underwater
					.screen.underwater#animation_7_a
						.nature.special
						.shredded-net
						.fish-left
						.fish-right
						.tangled-fish
						.passing-boat
					.content
						%p Fishing lines and nets remain in the ocean for many years after they have been abandoned, trapping, injuring and even killing many sea animals. Monk seals, dolphins, whales and birds are examples of animals that can be harmed by this bad practice.
						%p These materials also cause damage to boats because they get stuck in the propeller and damage the motor. Studies show more than 6 in 10 boats from Madeira have suffered damages because of garbage in the ocean.
						%P You loose 10 points
			.choice{:score=>10}
				.title Take the net and fix it on land
				.consequence.underwater
					.screen.underwater#animation_7_b
						.nature.special
						.fish-left
						.fish-right
						.broken-net
						.thought-bubble
					.content
						%p After you are done fishing, you should bring back with you all your fishing gear. The best option is to fix the net and reuse it, in this way you are not contributing to the increase of waste on land.
						%p Leaving the net in the ocean will kill marine life and will affect the future of fishing activity. When you leave nets and covos in the ocean, they keep on trapping animals and lead to the death of many fish and other sea animals.
						%p You win 10 points
			.choice{:score=>5}
				.title Bring the net to land and throw it in the garbage bin
				.consequence.underwater
					.screen.underwater#animation_7_c
						.nature.special
						.fish-left
						.fish-right
						.broken-net
						.thought-bubble
						.trashcan
						.trashcan-lid
					.content
						%p When nets cannot be reused they should be brought to land and placed in the garbage. Even fishing gear stuck on the bottom of the ocean should be recovered at all cost. When fishing gear is left in the ocean it results in the death of a large number of animals and damages boats. Not only the waste that results from fishing, but all the waste that is found in the ocean should be brought to land.
						%p You win 5 points
	.screen
		.question It’s the end of the day and Manel has garbage on the boat. He doesn’t know what to do with the waste.
		.choices
			.choice{:score=>-20}
				.title Throw it in the ocean
				.consequence.underwater
					.screen.underwater#animation_8_a
						.nature.special
						.fish-left
						.fish-right
						.trash.num1
						.trash.num2
						.trash.num3
						.trash.num4
						.trash.num5
					.content
						%p Garbage is the main problem for marine life.
						%p Plastic constitutes 90% of the garbage found in the ocean and it seriously affects marine life and the ocean.
						%p Sea animals see the plastic as food (turtles, whales, fish and sea birds) and when they eat it, it causes them to asphyxiate, it blocks their digestive system and can cause death. The plastic also contains toxic substances that contaminate the water and the animals that life in the ocean.
						%p You loose 20 points						
			.choice{:score=>25}
				.title Take the garbage to land and place it in the recycling bins
				.consequence.underwater
					.screen.underwater#animation_8_b
						.nature.special
						.fish-left
						.fish-right
						.thought-bubble					
					.content
						%p A boat in Madeira typically produces the following garbage: 2 plastic bottles, 8 plastic bags, 4 glass bottles, 29 packages and 12 batteries. Now think about all the boats that fish near the Island and the number of days they fish and you will understand the amount of trash that is produced and dumped in the sea!
						%P It is important that you bring back all the trash and recycling it. By doing this you are ensuring the future and health of the ocean and fishing activity.
						%p You win 25 points						
			.choice{:score=>-20}
				.title Throw the batteries in the ocean
				.consequence.underwater
					.screen.underwater#animation_8_c
						.nature.special
						.fish-left
						.fish-right
						.battery.num1
						.battery.num2
						.battery.num3
						.chemicals
					.content
						%p Batteries contain toxic substances that are transferred to water and marine life. These toxic substances kill fish, sea plants and other animals, and have serious consequences for fishing activity on the island.
						%p Batteries have mercury that contaminates fish, such as black swordfish, and this can cause health problems when people consume these fish. You should bring all batteries to land and dispose of them properly.
						%p You loose 20 points
	.screen.special
		.question{'data-bind'=>'visible: score() <= 0'} Wow! If you keep doing this, your children will not have fish to eat. You need to be eco compatible!
		.audio_content{'data-bind'=>'if: score()<=0'}
		.question{'data-bind'=>'visible: score() > 0 && score() < 40'} Congrats! You are on the right path to become an eco compatible fisherman, if you are a little more careful our future is going to be better.
		.audio_content{'data-bind'=>'if: score() > 0 && score() < 40'}
		.question{'data-bind'=>'visible: score() >= 40'} Congrats! You were an excellent fisherman and the future of the fishing industry and marine life are guaranteed.
		.audio_content{'data-bind'=>'if: score() >= 40'}
		.final_score
			%span{'data-bind'=>'text: score'}
			Points
		%menu.general
			%a#view_score{:href=>'#'}Save Score
			%a#play_again{:href=>'/farmer.html'}Play Again
			%a#view_gallery{:href=>'#'}Drawings
			%a#exit{:href=>'/'}Exit
		.pier
		.catch{'data-bind'=>'css: {"good": score() > 0, "great": score() > 20, "amazing": score() > 40}'}
		.score_page
			%a.close_score{:href=>'#'}Close
			.save_box
				%input#score_name{:type=>'text'}
				%a#save_score{:href=>'#'}Save
			%table
				%thead
					%tr
						%th Player
						%th Points
				%tbody{'data-bind'=>'foreach: scores'}
					%tr
						%td{'data-bind'=>'text: name'}
						%td{'data-bind'=>'text: score'}
		.drawings
			%a.close_gallery{:href=>'#'}Close
			%menu
				%a#gallery_up{:href=>'#'}
				%a#gallery_down{:href=>'#'}
			%section
				%h3 EB1/PE do Caniçal 
				%figure
					%img{:src => "images/gallery/CAN_3B_grupo1.jpg"}
					%figcaption Grupo1
				%figure
					%img{:src => "images/gallery/CAN_3B_grupo2.jpg"}
					%figcaption Grupo2
				%figure
					%img{:src => "images/gallery/CAN_4A_beatriz_alves_moreira.jpg"}
					%figcaption Beatriz Alves Moreira
				%figure
					%img{:src => "images/gallery/CAN_4A_bruna_maria_nunes_gomes.jpg"}
					%figcaption Bruna Maria Nunes Gomes
				%figure
					%img{:src => "images/gallery/CAN_4A_bruno_jose_alves_moreira.jpg"}
					%figcaption Bruno José Alves Moreira
				%figure
					%img{:src => "images/gallery/CAN_4A_joao_davide_alves_da_silva.jpg"}
					%figcaption João Davide Alves da Silva
				%figure
					%img{:src => "images/gallery/CAN_4A_joao_duarte_santos_costa.jpg"}
					%figcaption João Duarte Santos Costa
				%figure
					%img{:src => "images/gallery/CAN_4A_joao_fernando_nunes_alves.jpg"}
					%figcaption João Fernando Nunes Alves
				%figure
					%img{:src => "images/gallery/CAN_4A_joao_gabriel.jpg"}
					%figcaption João Gabriel
				%figure
					%img{:src => "images/gallery/CAN_4A_joao_lourenco_franco_moniz.jpg"}
					%figcaption João Lourenço Franco Moniz
				%figure
					%img{:src => "images/gallery/CAN_4A_jose_francisco_silva_dos_santos.jpg"}
					%figcaption José Francisco Silva dos Santos
				%figure
					%img{:src => "images/gallery/CAN_4A_leandro_catinho_colaco.jpg"}
					%figcaption Leandro Catinho Colaço
				%figure
					%img{:src => "images/gallery/CAN_4A_luis_filipe_moniz_da_silva.jpg"}
					%figcaption Luís Filipe Moniz da Silva
				%figure
					%img{:src => "images/gallery/CAN_4A_luisa.jpg"}
					%figcaption Luísa
				%figure
					%img{:src => "images/gallery/CAN_4A_maria_carlota_freitas_sousa.jpg"}
					%figcaption Maria Carlota Freitas Sousa
				%figure
					%img{:src => "images/gallery/CAN_4A_maria_luisa_moreira_de_menezes.jpg"}
					%figcaption Maria Luísa Moreira De Menezes
				%figure
					%img{:src => "images/gallery/CAN_4A_marilia_leticia_moniz_teles.jpg"}
					%figcaption Marilia Letícia Moniz Teles
				%figure
					%img{:src => "images/gallery/CAN_4A_miguel_lomelino_calaca.jpg"}
					%figcaption Miguel Lomelino Calaça
				%figure
					%img{:src => "images/gallery/CAN_4A_nelson_bernardo_nunes_dos_santos.jpg"}
					%figcaption Nelson Bernardo Nunes dos Santos
				%figure
					%img{:src => "images/gallery/CAN_4A_pedro_henrique.jpg"}
					%figcaption Pedro Henrique
				%figure
					%img{:src => "images/gallery/CAN_4A_sofia_alves_dos_santos.jpg"}
					%figcaption Sofia Alves dos Santos
				%figure
					%img{:src => "images/gallery/CAN_4A_tiago_nunes_alves_melim.jpg"}
					%figcaption Tiago Nunes Alves Melim
				%figure
					%img{:src => "images/gallery/CAN_4A_tomas_jorge_dos_santos_delgado.jpg"}
					%figcaption Tomás Jorge dos Santos Delgado
				%figure
					%img{:src => "images/gallery/CAN_4B_Elsio_andre_nuno_santos.jpg"}
					%figcaption Elsio André Nuno Santos
				%figure
					%img{:src => "images/gallery/CAN_4B_ana_sofia_santos_alves.jpg"}
					%figcaption Ana Sofia Santos Alves
				%figure
					%img{:src => "images/gallery/CAN_4B_daniela.jpg"}
					%figcaption Daniela
				%figure
					%img{:src => "images/gallery/CAN_4B_hugo.jpg"}
					%figcaption Hugo
				%figure
					%img{:src => "images/gallery/CAN_4B_joao_duarte_costa_colaco.jpg"}
					%figcaption João Duarte Costa Colaço
				%figure
					%img{:src => "images/gallery/CAN_4B_joao_luis_alves_silva.jpg"}
					%figcaption João Luís Alves Silva
				%figure
					%img{:src => "images/gallery/CAN_4B_joao_rodrigo.jpg"}
					%figcaption João Rodrigo
				%figure
					%img{:src => "images/gallery/CAN_4B_linda_sofia.jpg"}
					%figcaption Linda Sofia
				%figure
					%img{:src => "images/gallery/CAN_4B_luis_fernando_gouveia_silva.jpg"}
					%figcaption Luís Fernando Gouveia Silva
				%figure
					%img{:src => "images/gallery/CAN_4B_luis_filipe_silva_alves.jpg"}
					%figcaption Luís Filipe Silva Alves
				%figure
					%img{:src => "images/gallery/CAN_4B_marco_alexandre_remesso_moreira.jpg"}
					%figcaption Marco Alexandre Remesso Moreira
				%figure
					%img{:src => "images/gallery/CAN_4B_maria_elisa.jpg"}
					%figcaption Maria Elisa
				%figure
					%img{:src => "images/gallery/CAN_4B_nicole_maria_fernandes_sousa.jpg"}
					%figcaption Nicole Maria Fernandes Sousa
				%figure
					%img{:src => "images/gallery/CAN_4B_nuno_goncalo_lopes_camara.jpg"}
					%figcaption Nuno Gonçalo Lopes Câmara
				%figure
					%img{:src => "images/gallery/CAN_4B_pedro_jacinto_diogo_santos_sousa_vieira.jpg"}
					%figcaption Pedro Jacinto Diogo Santos Sousa Vieira
				%figure
					%img{:src => "images/gallery/CAN_4B_pedro_miguel_vieira_nunes.jpg"}
					%figcaption Pedro Miguel Vieira Nunes
				%figure
					%img{:src => "images/gallery/CAN_4B_ricardina.jpg"}
					%figcaption Ricardina
				%figure
					%img{:src => "images/gallery/CAN_4B_rodrigo_daniel.jpg"}
					%figcaption Rodrigo Daniel
				%figure
					%img{:src => "images/gallery/CAN_4B_sara_filipa_colaco_vidinha.jpg"}
					%figcaption Sara Filipa Colaço Vidinha
				%figure
					%img{:src => "images/gallery/CAN_4C_Sandra.jpg"}
					%figcaption Sandra
				%figure
					%img{:src => "images/gallery/CAN_4C_alice_maria_sousa_calaca.jpg"}
					%figcaption Alice Maria Sousa Calaça
				%figure
					%img{:src => "images/gallery/CAN_4C_diogo.jpg"}
					%figcaption Diogo
				%figure
					%img{:src => "images/gallery/CAN_4C_egidio.jpg"}
					%figcaption Egídio
				%figure
					%img{:src => "images/gallery/CAN_4C_fabiana_cristina_santos_pereira.jpeg"}
					%figcaption Fabiana Cristina Santos Pereira
				%figure
					%img{:src => "images/gallery/CAN_4C_goncalo_sousa.jpg"}
					%figcaption Gonçalo Sousa
				%figure
					%img{:src => "images/gallery/CAN_4C_joao_andre.jpg"}
					%figcaption João Andre
				%figure
					%img{:src => "images/gallery/CAN_4C_joao_carlos.jpg"}
					%figcaption João Carlos
				%figure
					%img{:src => "images/gallery/CAN_4C_joao_nicolau_da_silva_roque.jpg"}
					%figcaption João Nicolau Da Silva Roque
				%figure
					%img{:src => "images/gallery/CAN_4C_julia_maria_sousa_moniz.jpg"}
					%figcaption Júlia Maria Sousa Moniz
				%figure
					%img{:src => "images/gallery/CAN_4C_maria_catarina_dos_santos_sousa.jpg"}
					%figcaption Maria Catarina dos Santos Sousa
				%figure
					%img{:src => "images/gallery/CAN_4C_matilde_alves_viveiros.jpeg"}
					%figcaption Matilde Alves Viveiros
				%figure
					%img{:src => "images/gallery/CAN_4C_miguel.jpg"}
					%figcaption Miguel
				%figure
					%img{:src => "images/gallery/CAN_4C_raquel_martins.jpg"}
					%figcaption Raquel Martins
				%figure
					%img{:src => "images/gallery/CAN_4C_ricardo_magalhaes.jpg"}
					%figcaption Ricardo Magalhães
				%figure
					%img{:src => "images/gallery/CAN_4C_ruben.jpg"}
					%figcaption Ruben
				%figure
					%img{:src => "images/gallery/CAN_4C_sandra2.jpg"}
					%figcaption Sandra
				%figure
					%img{:src => "images/gallery/CAN_4C_sara_alexandra_lucas_levezinho_bibanio.jpg"}
					%figcaption Sara Alexandra Lucas Levezinho Bibanio
				%figure
					%img{:src => "images/gallery/CAN_4C_sofia.jpg"}
					%figcaption Sofia
				%figure
					%img{:src => "images/gallery/CAN_4C_susana.jpg"}
					%figcaption Susana
				%h3 EB1/PE de Câmara de Lobos
				%figure
					%img{:src => "images/gallery/CL_3A_andre_miguel.jpeg"}
					%figcaption André Miguel
				%figure
					%img{:src => "images/gallery/CL_3A_bruna_margarida_oliveira_faria.jpeg"}
					%figcaption Bruna Margarida Oliveira Faria
				%figure
					%img{:src => "images/gallery/CL_3A_bruno_afonso_nunes_colonho.jpeg"}
					%figcaption Bruno Afonso Nunes Colonho
				%figure
					%img{:src => "images/gallery/CL_3A_eduarda_carolina_atanasio_caires.jpeg"}
					%figcaption Eduarda Carolina Atanásio Caires
				%figure
					%img{:src => "images/gallery/CL_3A_ema_filipa_carvalho_freitas.jpeg"}
					%figcaption Ema Filipa Carvalho Freitas
				%figure
					%img{:src => "images/gallery/CL_3A_emanuel.jpeg"}
					%figcaption Emanuel
				%figure
					%img{:src => "images/gallery/CL_3A_fatima_carolina_ferreira.jpeg"}
					%figcaption Fátima Carolina Ferreira
				%figure
					%img{:src => "images/gallery/CL_3A_francisco_jose_dos_reis_brito.jpeg"}
					%figcaption Francisco José dos Reis Brito
				%figure
					%img{:src => "images/gallery/CL_3A_ines_andrade_rodrigues.jpeg"}
					%figcaption Inês Andrade Rodrigues
				%figure
					%img{:src => "images/gallery/CL_3A_joana_filipa_olival_dos_santos_ferreira.jpeg"}
					%figcaption Joana Filipa Olival dos Santos Ferreira
				%figure
					%img{:src => "images/gallery/CL_3A_joana_raquel_sousa_coelho_belo.jpeg"}
					%figcaption Joana Raquel Sousa Coelho Belo
				%figure
					%img{:src => "images/gallery/CL_3A_joao_pedro_oliveira.jpeg"}
					%figcaption João Pedro Oliveira
				%figure
					%img{:src => "images/gallery/CL_3A_luana.jpeg"}
					%figcaption Luana
				%figure
					%img{:src => "images/gallery/CL_3A_mario_nelson_silva_goncalves.jpeg"}
					%figcaption Mário Nelson Silva Gonçalves
				%figure
					%img{:src => "images/gallery/CL_3A_miguel_henrique_freitas_goncalves_de_barros.jpeg"}
					%figcaption Miguel Henrique Freitas Gonçalves de Barros
				%figure
					%img{:src => "images/gallery/CL_3A_soraia.jpeg"}
					%figcaption Soraia
				%figure
					%img{:src => "images/gallery/CL_3A_tiago.jpeg"}
					%figcaption Tiago
				%figure
					%img{:src => "images/gallery/CL_3B_ana_dulce_henriques_andrade.jpeg"}
					%figcaption Ana Dulce Henriques Andrade
				%figure
					%img{:src => "images/gallery/CL_3B_andreina_beatriz_freitas_da_silva.jpeg"}
					%figcaption Andreina Beatriz Freitas da Silva
				%figure
					%img{:src => "images/gallery/CL_3B_carolina.jpeg"}
					%figcaption Carolina
				%figure
					%img{:src => "images/gallery/CL_3B_clara.jpeg"}
					%figcaption Clara
				%figure
					%img{:src => "images/gallery/CL_3B_clara_goncalves-dos_santos.jpeg"}
					%figcaption Clara Gonçalves dos Santos
				%figure
					%img{:src => "images/gallery/CL_3B_claudia_patricia_silva_brito.jpeg"}
					%figcaption Cláudia Patrícia Silva Brito
				%figure
					%img{:src => "images/gallery/CL_3B_david.jpeg"}
					%figcaption David
				%figure
					%img{:src => "images/gallery/CL_3B_deise.jpeg"}
					%figcaption Deise
				%figure
					%img{:src => "images/gallery/CL_3B_duarte.jpeg"}
					%figcaption Duarte
				%figure
					%img{:src => "images/gallery/CL_3B_enio.jpeg"}
					%figcaption Énio
				%figure
					%img{:src => "images/gallery/CL_3B_isabel.jpeg"}
					%figcaption Isabel
				%figure
					%img{:src => "images/gallery/CL_3B_jose_nuno.jpeg"}
					%figcaption José Nuno
				%figure
					%img{:src => "images/gallery/CL_3B_pedro_afonso_silva_henriques.jpeg"}
					%figcaption Pedro Afonso Silva Henriques
				%figure
					%img{:src => "images/gallery/CL_3B_rodrigo.jpeg"}
					%figcaption Rodrigo
				%figure
					%img{:src => "images/gallery/CL_3B_sirla.jpeg"}
					%figcaption Sírla
				%figure
					%img{:src => "images/gallery/CL_3_jessica_patricia_reis_nunes.jpeg"}
					%figcaption Jessica Patrícia Reis Nunes
				%figure
					%img{:src => "images/gallery/CL_3_luis.jpeg"}
					%figcaption Luís
				%figure
					%img{:src => "images/gallery/CL_3_sergio_antonio.jpeg"}
					%figcaption Sérgio António
				%figure
					%img{:src => "images/gallery/CL_4A_daniel_guilherme_ferreira.jpeg"}
					%figcaption Daniel Guilherme Ferreira
				%figure
					%img{:src => "images/gallery/CL_4A_diogo_antonio.jpeg"}
					%figcaption Diogo António
				%figure
					%img{:src => "images/gallery/CL_4A_ema_n.jpeg"}
					%figcaption Ema N
				%figure
					%img{:src => "images/gallery/CL_4A_erico.jpeg"}
					%figcaption Erico
				%figure
					%img{:src => "images/gallery/CL_4A_fabricio.jpeg"}
					%figcaption Fabrício
				%figure
					%img{:src => "images/gallery/CL_4A_fatima.jpeg"}
					%figcaption Fátima
				%figure
					%img{:src => "images/gallery/CL_4A_goncalo_teles.jpeg"}
					%figcaption Gonçalo Teles
				%figure
					%img{:src => "images/gallery/CL_4A_hugo_calisto.jpeg"}
					%figcaption Hugo Calisto
				%figure
					%img{:src => "images/gallery/CL_4A_hugo_calisto.jpg"}
					%figcaption Hugo Calisto
				%figure
					%img{:src => "images/gallery/CL_4A_hugo_miguel.jpeg"}
					%figcaption Hugo Miguel
				%figure
					%img{:src => "images/gallery/CL_4A_joana_isabel.jpeg"}
					%figcaption Joana Isabel
				%figure
					%img{:src => "images/gallery/CL_4A_joana_raquel_sousa.jpeg"}
					%figcaption Joana Raquel Sousa
				%figure
					%img{:src => "images/gallery/CL_4A_joao_leonardo_sa.jpeg"}
					%figcaption João Leonardo Sá
				%figure
					%img{:src => "images/gallery/CL_4A_leonardo_f.jpeg"}
					%figcaption Leonardo F
				%figure
					%img{:src => "images/gallery/CL_4A_micaela.jpeg"}
					%figcaption Micaela
				%figure
					%img{:src => "images/gallery/CL_4A_nidia_deise_nunes_freitas.jpeg"}
					%figcaption Nídia Deise Nunes Freitas
				%figure
					%img{:src => "images/gallery/CL_4A_pedro.jpeg"}
					%figcaption Pedro
				%figure
					%img{:src => "images/gallery/CL_4A_pedro_abreu.jpeg"}
					%figcaption Pedro Abreu
				%figure
					%img{:src => "images/gallery/CL_4A_rafael_luis.jpeg"}
					%figcaption Rafael Luís
				%figure
					%img{:src => "images/gallery/CL_4A_ruben_santos.jpeg"}
					%figcaption Ruben Santos
				%figure
					%img{:src => "images/gallery/CL_4A_sara_sofia_reis_rodrigues.jpeg"}
					%figcaption Sara Sofia Reis Rodrigues
				%figure
					%img{:src => "images/gallery/CL_4A_silvia_paixao.jpeg"}
					%figcaption Sílvia Paixão
				%figure
					%img{:src => "images/gallery/CL_4A_tiago.jpeg"}
					%figcaption Tiago
				%figure
					%img{:src => "images/gallery/CL_4A_vanessa.jpeg"}
					%figcaption Vanessa
				%figure
					%img{:src => "images/gallery/CL_4B_ana_beatriz.jpeg"}
					%figcaption Ana Beatriz
				%figure
					%img{:src => "images/gallery/CL_4B_ana_daniela.jpeg"}
					%figcaption Ana Daniela
				%figure
					%img{:src => "images/gallery/CL_4B_ana_isa.jpeg"}
					%figcaption Ana Isa
				%figure
					%img{:src => "images/gallery/CL_4B_ana_margarida.jpeg"}
					%figcaption Ana Margarida
				%figure
					%img{:src => "images/gallery/CL_4B_andre_bruno_goncalves_brito.jpeg"}
					%figcaption André Bruno Gonçalves Brito
				%figure
					%img{:src => "images/gallery/CL_4B_carlos.jpeg"}
					%figcaption Carlos
				%figure
					%img{:src => "images/gallery/CL_4B_catarina.jpeg"}
					%figcaption Catarina
				%figure
					%img{:src => "images/gallery/CL_4B_eduardo.jpeg"}
					%figcaption Eduardo
				%figure
					%img{:src => "images/gallery/CL_4B_enio.jpeg"}
					%figcaption Énio
				%figure
					%img{:src => "images/gallery/CL_4B_fatima.jpeg"}
					%figcaption Fátima
				%figure
					%img{:src => "images/gallery/CL_4B_francisco.jpeg"}
					%figcaption Francisco
				%figure
					%img{:src => "images/gallery/CL_4B_gabriela.jpeg"}
					%figcaption Gabriela
				%figure
					%img{:src => "images/gallery/CL_4B_janete.jpeg"}
					%figcaption Janete
				%figure
					%img{:src => "images/gallery/CL_4B_laura.jpeg"}
					%figcaption Laura
				%figure
					%img{:src => "images/gallery/CL_4B_leandra.jpeg"}
					%figcaption Leandra
				%figure
					%img{:src => "images/gallery/CL_4B_nuno_roberto.jpeg"}
					%figcaption Nuno Roberto
				%figure
					%img{:src => "images/gallery/CL_4B_vitor.jpeg"}
					%figcaption Vitor
				%figure
					%img{:src => "images/gallery/CL_4_alexadre.jpeg"}
					%figcaption Alexandre
				%figure
					%img{:src => "images/gallery/CL_4_leandro.jpeg"}
					%figcaption Leandro
				%figure
					%img{:src => "images/gallery/CL_4_leandro2.jpeg"}
					%figcaption Leandro