---
title: Welcome
bodyClass: welcome english
---

#welcome_setting
	%a.choose_journey_button{:href=>'choose_journey_en.html'}
	%menu.general
		%a#in_portuguese{:href=>'/index.html'}Portugues
	.score_page
		%table
			%thead
				%tr
					%th Player
					%th Points
			%tbody{'data-bind'=>'foreach: scores'}
				%tr
					%td{'data-bind'=>'text: name'}
					%td{'data-bind'=>'text: score'}