---
title: Fisherman
bodyClass: fisherman
---

#character
#score{'data-bind'=>'text: score'}
#consequence
	.content
#continue_journey_button
#throw_button
#control.come
	.arrow.swing.first
	%svg.trajectory{:xmlns=>'http://www.w3.org/2000/svg', 'xmlns:xlink'=>'http://www.w3.org/1999/xlink'}
		/ the initial velocity vector
		%line{:x1=>'0', :y1=>'480', 'data-bind'=>'attr: {y2:(480-4*vy()),x2:4*vx()}'}

		/ the trails of the trajectory motion
		/ ko foreach:trails
		%circle{:r=>'1', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x+'%',cy:(100-y)+'%'}"}
		/ /ko

		/ the simulation object
		%circle{:r=>'4', 'style'=>'stroke: white;', 'data-bind'=>"attr: {cx:x()+'%',cy:(100-y())+'%'}"}


#setting
	.screen
		.question Manel, o pescador vai iniciar a sua pesca no oceano. Ele tem de decidir onde pescar.
		.choices.come
			.choice{:score=>-10}
				.title Junto a uma Reserva Natural
				.consequence
					.content
						%p As reservas naturais marinhas são muito importantes para o crescimento das populações de peixes. A quantidade de peixes existentes no oceano tem diminuído muito, resultado da pesca excessiva e da utilização de técnicas de pesca não seletivas, por isso é extremamente importante proteger as reservas naturais marinhas, para que os peixes se reproduzam e aumentem a sua quantidade.
			.choice{:score=>-5}
				.title Em local onde existem peixes jovens
				.consequence
					.content
						%p Se pescar peixes muito jovens está a impedi-los de atingir a idade de reprodução e por isso a sua quantidade no futuro será cada vez menor.
						%p Embora os peixes geralmente produzam imensos ovos, só uma pequena percentagem atinge a idade adulta.
			.choice{:score=>10}
				.title Em local onde existem peixes adultos
				.consequence
					.content
						%p É importante que o seu esforço seja recompensado da melhor maneira, assim ao capturar peixes adultos terá uma pescaria mais rentável, e ao mesmo tempo está a garantir o futuro das espécies.
						%p Também deve sempre lembrar-se que:
						%p • não deve pescar peixes durante o período de reprodução,
						%p • não deve pescar peixes jovens que ainda não atingiram a idade para se reproduzirem,
						%p • não deve pescar espécies em perigo de extinção.
						%p Como o Manuel, teve em atenção todos estes factores: ganha 15 pontos-peixe e
	.screen
		.question O Manel, já escolheu o local, e tem de decidir que técnica utilizar para pescar
		.choices
			.choice{:score=>-5}
				.title Usa uma rede de arrasto
				.consequence
					.content
						%p Ao usar redes de arrasto uma grande parte do que é recolhido do mar pode não ser aproveitada. Acabou de pescar grande quantidade de lixo e peixes sem valor comercial, além de ter destruído todo o local por onde passou a rede.
						%p É economicamente mais rentável e melhor para o ambiente utilizar técnicas de pesca seletivas.
			.choice{:score=>-15}
				.title Joga bombas
				.consequence.underwater
					.screen.underwater
						#a1-bomb
						#a1-fish-1
						#a1-fish-2
						#a1-fish-3
						#a1-fish-4
						#a1-fish-5
						#a1-fish-6
						#a1-fish-7
						#a1-fish-8
					.content
						%p As bombas matam os peixes de uma forma violenta, assim como todas as restantes espécies marinhas, animais e vegetais, que se encontrem por perto.
						%p O uso de explosivos destrói o fundo do mar, resultando numa diminuição drástica da quantidade de peixes. Do ponto de vista comercial o peixe vale menos dinheiro, devido ao aspeto com que fica resultante da explosão.
						%p Os locais destruídos pelos rebentamentos necessitam de vários anos para que haja novamente vida marinha.
						%p Esta técnica é ilegal.
						%p Destruiu o ecossistema, irá perder 20 pontos-peixe na próxima jogada
			.choice{:score=>10}
				.title Utiliza técnicas de pesca seletivas (ex: cana de pesca, linha de anzois, etc)
				.consequence
					.content
						%p As técnicas seletivas são mais indicadas pois reduzem a pesca acidental e contribuem positivamente para manter as populações de peixes, garantindo o futuro da atividade piscatória.
						%p A seleção correta de isco, do tamanho do anzol e da profundidade de pesca, permitem diminuir a captura de espécies indesejáveis e de menor valor comercial.
	.screen
		.question O Manel vai à pesca durante o período de desova de alguns peixes. O Manel decide...
		.choices
			.choice{:score=>-5}
				.title Pesca-os a todos
				.consequence
					.content
						%p Pescar as espécies durante o período de reprodução impede a população de crescer e recuperar da pesca. Ao pescar peixes com ovos, está a diminuir drasticamente o no de peixes que vão nascer, levando à diminuição da rentabilidade da atividade piscatória, no futuro.
			.choice{:score=>5}
				.title Escolhe outra época para pescar esta espécie que está em desova
				.consequence
					.content
						%p Ao escolher outra época para pescar não está a prejudicar a espécie em reprodução e contribui para o aumento do número de peixes que vai pescar no futuro.
			.choice{:score=>5}
				.title Escolhe outro local para pescar
				.consequence
					.content
						%p Escolhendo outro local, onde sabe que não irá capturar espécies em reprodução, contribuirá para o aumento da quantidade de peixes no futuro.
	.screen
		.question Enquanto pesca o Manel está a almoçar. Quando acaba de comer pega nos restos e ...
		.choices
			.choice{:score=>-5}
				.title Joga à água
				.consequence
					.content
						%p O lixo orgânico, como restos de comida, decompõe-se facilmente no mar. Contudo ao atirá-lo à água enquanto pesca, está a atrair outros peixes e outros animais, como aves marinhas, que irão interferir na sua pescaria e poderão ser pescados acidentalmente. Mantenha o lixo orgânico longe das áreas de pesca.
			.choice{:score=>10}
				.title Mantem os restos no barco
				.consequence
					.content
						%p Ao manter o lixo orgânico no barco não está a atrair aves nem mamíferos para o local onde está a pescar. Assim, estes animais não irão incomodar a sua pesca, nem serão capturados acidentalmente.
	.screen
		.question O Manel está a pescar e vê um lobo-marinho a nadar ali perto...
		.choices
			.choice{:score=>-10}
				.title Atira uma bomba para assustar o lobo-marinho
				.consequence
					.content
						%p Atirar uma bomba para o lobo-marinho não é uma atitude sensata pois poderá feri-lo ou matá-lo. Este é um animal que está ameaçado de extinção, pelo que deverá protegê-lo. Perde 5 pontos-peixe.
			.choice{:score=>10}
				.title Recolhe o peixe que pescou e muda de local de pesca
				.consequence
					.content
						%p O lobo-marinho é um animal curioso e que irá tentar apanhar os peixes que está a pescar. Ao mudar o local de pesca, está a evitar que este animal incomode a sua atividade piscatória.
			.choice{:score=>-5}
				.title Continua a pescar
				.consequence
					.content
						%p Se continuar a pescar no mesmo local, o lobo-marinho irá comer parte do peixe que é pescado por si, e além disso poderá estar a colocar em causa a vida de uma espécie protegida.
						%p Por ter decidido pescar junto ao lobo-marinho, apenas ganhará 5 pontos-peixe.
	.screen
		.question O Manel está a pescar utilizando uma rede. Ele recolhe a rede e apercebe-se que nem toda a pesca é a desejável...
		.choices
			.choice{:score=>-10}
				.title Guarda todos os peixes mesmo os sem valor comercial
				.consequence
					.content
						%p Ao guardar os peixes que não possuem o tamanho mínimo de captura estabelecido por lei, estará a impedir que estes se reproduzam e por isso a diminuir a sua quantidade para o futuro.
						%p Ao guardar as espécies que não têm interesse comercial, estará a criar um desequilíbrio no meio ambiente sem que daí retire qualquer lucro.
						%p Os peixes demasiado jovens ou sem interesse comercial deverão ser devolvidos ao mar o mais rapidamente possível, para que possam continuar o seu ciclo de vida.
						%p Assim, evitará prejudicar o futuro da pesca e danificar a vida marinha.
			.choice{:score=>10}
				.title Lança ao mar os peixes jovens
				.consequence 
					.content
						%p Existem limites mínimos para o tamanho dos peixes que podem ser capturados e consequentemente vendidos. Lembre-se que não deve retirar do oceano animais que ainda não atingiram a idade de reprodução. Quando detectar que o pescado não cumpre os requisitos para ter valor comercial, é importante que os lance ao mar imediatamente para que possam recuperar e crescer.
	.screen
		.question O Manel apercebe-se que a rede está danificada, e...
		.choices
			.choice{:score=>-10}
				.title Lança a rede no mar
				.consequence
					.content
						%p Linhas e redes de pesca permanecem no mar por muitos anos após terem sido abandonadas, aprisionando, magoando e por vezes levando à morte, muitos animais marinhos. Lobos-marinhos, golfinhos, tartarugas, baleias e aves são exemplos de animais que são prejudicados por esta má prática.
						%p Estes materiais à deriva também danificam barcos, prendendo-se nas hélices e estragando o motor. Inquéritos mostram que muitas embarcações já tiveram danos diretamente relacionados com lixo abandonado no oceano.
			.choice{:score=>10}
				.title Recolhe a rede e remenda-a em terra
				.consequence
					.content
						%p Quando terminar a pescaria, deve trazer para terra todo o material de pesca. A opção mais correta é remendar a rede e depois reutilizá-la, assim também não está a contribuir para o aumento do lixo em terra.
						%p Deixar redes danificadas no oceano irá destruir a vida marinha, o que compromete o futuro da atividade piscatória. Ao abandonar redes e covos no oceano, estes continuam a pescar sozinhos e provocam a morte de muitos peixes e outras espécies de animais.
			.choice{:score=>5}
				.title Traz a rede para terra e deita-a no lixo.
				.consequence
					.content
						%p Quando as redes já não podem ser reutilizadas devem ser trazidas para terra e colocadas no lixo. Mesmo que os aparelhos de pesca se encontrem presos no fundo deverá tentar recuperá-los a todo o custo. O abandono de artes de pesca no oceano causa a morte a um grande número de animais e estragos em muitos barcos. Não só o lixo que é produzido no barco deve ser trazido para terra como também todo o lixo que seja encontrado no oceano.
	.screen
		.question Este é o fim do dia de pesca do Manel e existe lixo no barco. O Manel não sabe o que fazer com o lixo...
		.choices
			.choice{:score=>-20}
				.title Atira todo o lixo ao mar
				.consequence
					.content
						%p O lixo é um dos principais factores para a diminuição da qualidade da água e da vida dos oceanos.
						%p O plástico constitui 90% do lixo que se encontra no oceano e afeta a vida marinha e o oceano da seguinte forma: • Existem animais marinhos que confundem o plástico com o seu alimento natural (é o caso das tartarugas, baleias, muitos peixes e aves marinhas) o que pode provocar asfixia, bloqueio do sistema digestivo e morte. O plástico também contém substâncias tóxicas que passam para a água dos oceanos e para todos os seres marinhos.
			.choice{:score=>25}
				.title Leva o lixo para terra e coloca nos contentores para reciclagem
				.consequence
					.content
						%p Esta é efetivamente a melhor opção!




