
.fisherman #animation_7_c{
	$photos: '#{$url}/fisherman/7-c-net-trashcan';
	
	.fish-left{
		background-image: url(#{$photos}/fish-left.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1000;
		background-position: bottom left;
		position: absolute;
		top: 0%;
		left: 0%;
		
		&.swim{		
			left: 20%;
			-webkit-transition: left 8s;
		}
	}
	
	.fish-right{
		background-image: url(#{$photos}/fish-right.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1000;
		background-position: bottom right;
		position: absolute;
		top: 0%;
		left: 0%;
		
		&.swim{
			left: -20%;
			-webkit-transition: left 8s;
		}
	}
	
	.broken-net{
		background-image: url(#{$photos}/broken-net.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1000;
		background-position: top center;
		position: absolute;
		top: -100%;
		left: 0%;
		-webkit-transition: top 1s;
		
		&.show{
			top: 0;
		}
	}
	
	.thought-bubble{
		background-image: url(#{$photos}/thought-bubble.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1000;
		background-position: top center;
		position: absolute;
		top: -100%;
		left: 0%;
		-webkit-transition: top 1s;
		
		&.show{
			top: 0;
		}
	}
	
	.trashcan{
		background-image: url(#{$photos}/trashcan.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1000;
		background-position: top center;
		position: absolute;
		top: -100%;
		left: 0%;
		-webkit-transition: top 1s;
		
		&.show{
			top: 0;
		}
	}
	
	.trashcan-lid{
		background-image: url(#{$photos}/trashcan-lid.png);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1000;
		background-position: top center;
		position: absolute;
		top: -100%;
		left: 0%;
		-webkit-transition: top 1s;
		
		&.show{
			top: 0;
		}
	}

}
